<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <style type="text/css">
        .dropdown {
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <h2><span><img src="/public/images/eduNetSystems-logo.png"></span>EduNetSystems</h2>
        <p><em>Objective Selector alpha</em></p>
    <div class="card text-xs-center">

      <div class="card-block">
        <h4 class="card-title">EduNetSystems Catalogs</h4>
        <p class="card-text">In the very distant future there will be many catalogs.</p>
        <!-- dropdown button starts here -->
        <div class="dropdown" id="catMenuDropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose a Catalog
            </button>
            <div class="dropdown-menu" id="catMenu">
                <a class="dropdown-item" href="/">Loading...</a>
            </div>
        </div>
      </div>
      <div class="card-footer text-muted" id='catFooter'>
        loading...
      </div>
    </div>

    <!-- Choose a Book-->
    <div class="card text-xs-center invisible" id='bookCard'>

      <div class="card-block" >
        <h4 class="card-title">EduNetSystems Books</h4>
        <p class="card-text">In the very distant future there will be many books.</p>
        
        <!-- dropdown button starts here -->
        <div class="dropdown" id="bookMenuDropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a Book
          </button>
          <div class="dropdown-menu" id="bookMenu">
            <a class="dropdown-item" href="/">Loading...</a>
          </div>
        </div>

      </div>

      <div class="card-footer text-muted" id="bookFooter">
        loading...
      </div>
    </div>


       <div class="card card-block text-xs-center invisible" id='endOfRoad'>
          <h4 class="card-title">Awesome Chapters</h4>
          <p class="card-text">coming soon</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

        <!-- New Entry Modal -->
        <div id="inputModal" class="modal fade">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button id='cancel' type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New Submission</h4>
              </div>
              <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" id="newEntry" class="form-control" placeholder="New Entry" aria-describedby="basic-addon1" autofocus>
                </div>
              </div>
              <div class="modal-footer">
                <button id='submit' type="button" class="btn btn-primary" data-dismiss="modal">Submit Entry</button>
           
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

    <!-- jQuery first, then Bootstrap 4 JS. -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script type="text/JavaScript">
        // API Documentation
        // GET /api/catalogs.json
        // GET /api/books.json?Catalog={Catalog.ID}

        $(document).ready(function(){

            // initiate page by getting list of catalogs *************************************************
            popCatalogDropdown();
            // handle catalog click events
            $('#catMenuDropdown').on('click','a',function(){
                var cat = $(this).attr('name');
                $('#dropdownMenu1').html(cat);
                
                if(cat==="newEntry"){
                    $('#inputModal').modal('toggle');
                    //make a new Catalog
                    $('#submit').on('click',function(){
                        
                        var newCatName = $('#newEntry').val();
                        console.log(newCatName);
                        if(newCatName!==''){
                            $.post("/api/makeCatalog",{CatalogName:newCatName},function(data){
                                j = $.parseJSON(data);
                                console.log(j.result +":"+ j.reason)
                                $('#dropdownMenu1').html(newCatName);
                                $('#bookCard').removeClass('invisible');
                                popBookDropdown(cat);

                            });
                        }else{
                            $('#dropdownMenu1').html("Choose a Catalog");
                        }
                    });

                    $('#cancel').click(function(){
                        //$('#inputModal').modal('toggle');
                        $('#dropdownMenu1').html("Choose a Catalog");
                    });

                }else{
                    popBookDropdown(cat);
                    $('#bookCard').removeClass('invisible');
                }

            });
            //*********************************************************************************

            $('#bookMenuDropdown').on('click','a',function(){
                var id = $(this).attr('name');
                var title = $(this).html();

                $('#dropdownMenu2').html(title);
                
                if(id==="newBookEntry"){
                    $('#inputModal').modal('toggle');
                    //make a new Catalog
                    $('#submit').on('click',function(){
                        
                        var cat = $('#dropdownMenu1').html();
                        var newBookName = $('#newBookEntry').val();
                       
                        if(newBookName!==''){
                            $.post("/api/makeBook",{CatalogName:cat,BookName:newBookName},function(data){
                                j = $.parseJSON(data);
                                console.log(j.result +":"+ j.reason)
                                $('#dropdownMenu2').html(newBookName);
                            });
  
                        }else{
                            $('#dropdownMenu2').html("Choose a Book");
                        }
                    });

                    $('#cancel').click(function(){
                        //$('#inputModal').modal('toggle');
                        $('#dropdownMenu2').html("Choose a Book");
                    });

                }else{
                    //popBookDropdown(cat);
                    $('#endOfRoad').removeClass('invisible');
                }

            });

        });
        //utility functions
        function popCatalogDropdown(){
            $.get("/api/catalogs.json",function(data,status){
                j = $.parseJSON(data);
                
                $('#catFooter').html(j.results.length + " catalogs");
                $("#catMenu").html('');
                $.each( j.results, function( key, val ){
                    $("#catMenu").append( '<a class="dropdown-item" href="#books" name='+val.ID+'>'+val.ID+'</a>');
                });
                $("#catMenu").append( '<div class="dropdown-divider"></div>' )
                             .append( '<a class="dropdown-item" href="#catalogs" name="newEntry">New Catalog</a>' );
            }); 

        }
        function popBookDropdown(cat){
            $.get("/api/books.json?Catalog="+cat,function(data, status){
                j = $.parseJSON(data);
                console.log(j);
                $("#bookFooter").html(j.results.length + " books");
                $("#bookMenu").html('');
                $.each( j.results, function( key, val ){
                    $("#bookMenu").append( '<a class="dropdown-item" href="#chapters" name='+val.ID+'>'+val.Title+'</a>');
                });
                $("#bookMenu").append( '<div class="dropdown-divider"></div>' )
                              .append( '<a class="dropdown-item" href="#books" name="newBookEntry">New Book</a>' );

            });

        }
    </script>
  </body>
</html>

