        html {
          position: relative;
          min-height: 100%;

        }
        body{
            font-size:large;
            line-height: 1.5;
            font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        label > input  {
            line-height: 1.0;
            font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;

        }
        .btn-google{
            background-color: #DD4839;
            padding:5px;
            border-color: white;
            border:solid;
            border-width:1px;
            border-radius: 5px;
        }

        .navbar{ 
            background: #233B3B;
            
            /*box-shadow: 0px 5px 3px -3px #888;*/
        }
        .navbar-default .navbar-brand,
        .navbar-default .navbar-nav > li > a {
            font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
            color: white;
            font-size:large;
        }
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-nav > li > a:hover {
            color: oldlace;
        }

        footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;

        }
        footer > .well{
            background-color: #233B3B;
        }
        .well {
            background: darkslategray;
            color: white;
        }
        .books, .items{
            width:98%;
            margin-left: auto;
            margin-right: auto;
        }
        .books a{
            color: darkslateblue;
        }

    .list-group {
        padding: 0;
        overflow: hidden;
    }

    .list-group .list-group-item {
        border-radius: 5px;
        border-width: 1px 0 0 0;
    }

    .list-group-root > .list-group-item:first-child {
        border-top-width: 0;
    }

    .list-group-root > .list-group > .list-group-item {
        padding-left: 30px;
    }

    .list-group-root > .list-group > .list-group > .list-group-item {
        padding-left: 45px;
    }

    .list-group-item .glyphicon {
        margin-right: 5px;
    }
    .list-group-item-heading{
        padding:5px;
    }


    .input-group-addon { 
            width: 130px;
            text-align:left;
    }
    .input-group { width: 100%; }

        /* Exercises CSS */
        .panel-heading a{cursor: pointer;}

        .panel-heading a:not(.btn):after {
            font-family:'Glyphicons Halflings';
            content:"\e114";
            float: right;
            color: grey;

        }
        .panel-heading a.collapsed:after {
            content:"\e080";
        }
        .well > .form-group > .panel-group > .panel {
            color: black;
        }