<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Textbook Project</title>

    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <style>
    	h1,form {
    		text-align: center;
    	}
        #output {
        	color:#777;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        #mainForm{
            width: 400px;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
	<h1><span><img src="/public/images/eduNetSystems-logo.png"></span>EduNetSystems</h1>

    <form method="POST" action="/">
        <p>View Catalog</p>
        {{if .Catalogs}}
            <select name="SelectCatalog" required>
                {{range .Catalogs}}
                    <option name="{{.Key}}">{{.Value}}</option>
                {{end}}
            </select>
        {{else}}
            <select name="SelectCatalog" disabled>
                <option name="" selected>NO CATALOGS AVAILABLE</option>
            </select>
        {{end}}




        <button>Submit</button>
    </form>

</body>
</html>