<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <select id="JQ-Catalog-Selection">
        <!-- <option id="{.ID}">{.Name}</option> -->
    </select>

    <select id="JQ-Book-Selection">
        <!-- <option id="{.ID}">{.Title}</option> -->
    </select>

    <button id="JQ-Read-Button">Read</button> <button id="JQ-Edit-Button">Edit</button>

    <script type="text/JavaScript">
        // JQuery calls here to
        // GET /api/catalogs.json
        // GET /api/books.json?Catalog={Catalog.ID}

        $(document).ready(function(){

            $.get("/api/catalogs.json",function(data,status){
                j = $.parseJSON(data);
                // console.log(j);
                $("#JQ-Catalog-Selection").html('');
                $("#JQ-Catalog-Selection").append( new Option("Select A Catalog","") )
                $.each( j.results, function( key, val ){
                    $("#JQ-Catalog-Selection").append( new Option(val.ID,val.ID) )
                });
            }); 

            $("#JQ-Catalog-Selection").change(function(){
                console.log($(this).val())
                $("#JQ-Book-Selection").html('');
                if (($(this).val() != "") && ($(this).val() != "__NewCatalog")) {
                    $.get("/api/books.json?Catalog="+$(this).val(),function(data, status){
                        j = $.parseJSON(data);
                        // console.log(j);
                        $.each( j.results, function( key, val ){
                            $("#JQ-Book-Selection").append( new Option(val.Title,val.ID) )
                            // console.log(val.Name,val.ID)
                        });
                    });
                }
            });

            $("#JQ-Read-Button").click(function(){
                cat = $("#JQ-Catalog-Selection").val()
                book = $("#JQ-Book-Selection").val()

                if (cat == ""){
                    console.log("User has not selected anything!")
                } else if (cat == "__NewCatalog") {
                    console.log("User is attempting to make a new catalog")
                } else if (book == 0) {
                    console.log("User is making a new book for "+cat+"!")
                } else {
                    console.log("User has selected to READ: "+cat+" , "+book)
                }
            });


        });
    </script>

</body>
</html>