<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <input id="JQ-BookID" type="hidden" value="{{.BookID}}" readonly>
    <input id="JQ-ChapterID" type="hidden" value="{{.ChapterID}}" readonly>
    <input id="JQ-SectionID" type="hidden" value="{{.SectionID}}" readonly>
    <input id="JQ-ObjectiveID" type="hidden" value="{{.ObjectiveID}}" readonly>
    <br>

    <p>Book: <input id="JQ-BookTitle" value="{{.BookTitle}}" readonly></p><br>
    <p>Chapter: <input id="JQ-ChapterTitle" value="{{.ChapterTitle}}" readonly></p><br>
    <p>Section: <input id="JQ-SectionTitle" value="{{.SectionTitle}}" readonly></p><br>
    <p>Objective: <input id="JQ-ObjectiveTitle" value="{{.ObjectiveTitle}}"></p><br>

    <p>Version:<input id="JQ-Version" value="{{.ObjectiveVersion}}"></p><br>

    <p>Content:</p><textarea id="JQ-Content">{{html .Content}}</textarea><br>
    <p>KeyTakeaways:</p><textarea id="JQ-KeyTakeaways">{{html .KeyTakeaways}}</textarea><br><br>

    <button id="JQ-SubmitButton">Submit</button><br>

    <p>Results: <input id="JQ-Results" readonly></p><br>

    <script type="text/javascript">
        $(document).ready(function(){
            console.log("Ready!")
            $("#JQ-SubmitButton").click(function(){
                console.log("Click Called!!")
                sectID = $("#JQ-SectionID").val()
                ObjeName = $("#JQ-ObjectiveTitle").val()
                objeID = $("#JQ-ObjectiveID").val()
                ver = $("#JQ-Version").val()
                cont = $("#JQ-Content").val()
                ktw = $("#JQ-KeyTakeaways").val()
                $.post("/api/makeObjective",{SectionID:sectID,ObjectiveName:ObjeName,ID:objeID,Version:ver,Content:cont,KeyTakeaways:ktw},function(data){
                    j = $.parseJSON(data);
                    console.log(j.result +":"+ j.reason)
                    if (j.code == 0){
                        $("#JQ-Results").val("Submission Success")
                    } else {
                        $("#JQ-Results").val(j.reason)
                    }
                });
                $.wait(function(){$("#JQ-Results").val("")},3)
            });

            $.wait = function( callback, seconds){
               return window.setTimeout( callback, seconds * 1000 );
            }
        });
    </script>


</body>
</html>