<!DOCTYPE html>

<html lang="en">
<head>
{{template "Head" "About"}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
  <body>
    {{template "Nav" .}}
 
    <div class="container">
        
        <div class="text-info well">
        <h2>ENS Content Stystem α</h2>
            <p>
                This content system is designed from the ground up to streamline the creation, editing, and delivery of modular educational content. The goal is to serve mobile-friendly 21st century modular textbook content.  This includes an application interface to access objectives and exercises for use in any CMS.
            </p>
            <div class="text-center center-block">
                <a class="btn btn-primary" href="hhttps://github.com/johnRedden/TextbookProject" target="_blank">Source On GitHub</a>
                <a class="btn btn-primary" href="https://github.com/johnRedden/TextbookProject/issues">Submit an Issue</a>
                <a class="btn btn-primary" href="https://github.com/johnRedden/TextbookProject/wiki">API Docs</a>
            </div>
            <br/>
            <p>
                With this alpha release, we know there will be many issues to address. Please report them on gitHub using the button above. Currently this OER project is completely funded and supported by eduNetSystems. Any inquiries into this project should be directed toward John Redden (jtredden@gmail.com). 
            </p>
            <div class="text-center">
            <a class="btn btn-primary" href="/login"><span class="fa fa-google btn-google"></span> Sign in with Google</a> 
            <a class="btn btn-primary" href="/logout"><span class="fa fa-google btn-google"></span> Sign Out</a>
            </div>
        </div>
        <hr/>
        <blockquote>
            <div class="row">
                <div class="col-sm-3">
                <figure class="figure" >
                    <img src="/public/images/john01.png" alt="John Redden" title="John Redden" class="img-circle figure-img" style="width:175px">
                    <div class="fig-caption">John Redden jt.redden@gmail.com</div>
                </figure>
                </div>
                <div class="col-sm-9">
                    <p>
                        Professor of Mathematics, author, father of four, and education technology enthusiast. Circle me on G+: <a href="https://plus.google.com/+JohnRedden" target="_blank">+JohnRedden</a>
                        <br /><br />
                        
                        Current Math Related Websites:
                        <ul>
                            <li>[ <a href="http://www.openalgebra.com/" target="_blank">www.openAlgebra.com</a>  ]- A free online Algebra study guide.</li>
                            <li>[ <a href="http://www.trigcheatsheet.com/" target="_blank">www.trigCheatSheet.com</a>  ]- A free online Trigonometry study guide.</li>
                            <li>[ <a href="http://www.opengraphingcalculator.com/" target="_blank">www.openGraphingCalculator.com</a>  ]- A free online graphing calculator.</li>
                        </ul>                        

                    </p>
                </div>
            </div>
        </blockquote>
        <hr/>
        <blockquote class="blockquote-reverse" >
            <div class="row">

                <div class="col-sm-9">
                    <p>
                        <strong>Allen Mills</strong> - eduNetSystems lead programmer and systems designer. Hobbies include classical music and design of sofware solutions.
                    </p>        
                            <p><a class="btn" href="https://www.linkedin.com/in/allenjmills" target="_blank"><i class="fa fa-linkedin-square fa-2x"> LinkedIn</i></a></p>
                            <p><a class="btn" href="http://allenmills.net" target="_blank"><i class="fa fa-globe fa-2x"> Personal Website</i></a></p>
                            <p><a class="btn" href="https://github.com/FelixVicis" target="_blank"><i class="fa fa-github-square fa-2x"> Github</i></a></p>
                                               

                </div>
                <div class="col-sm-3">
                <figure class="figure" >
                    <img src="/public/images/allen01.png" alt="Allen Mills" title="Allen Mills" class="img-circle" style="width:175px">
                    <div class="fig-caption">Allen Mills mills.allen.james @gmail.com </div>
                </figure>
                    
                </div>
            </div>
        </blockquote>
        <hr/>
        <div class="panel">
            <p>
            Contributors:  Tracy Redden, more very soon.
            </p>
            <p>
                Useful links:<br />
                <ul>
                <li><a href="https://www.mathjax.org/" target="_blank">MathJax</a></li>
                <li><a href="http://docs.mathjax.org/en/latest/tex.html#supported-latex-commands" target="_blank">Supported LaTex Commands</a></li>
                <li><a href="http://ckeditor.com/" target="_blank">CKeditor</a></li>
                <li><a href="http://www.dionysia.org/html/entities/symbols.html" target="_blank">HTML Math Symbols</a></li>
                </ul>
            </p>

        </div>
        <hr />
    </div>
 


    {{template "Footer"}}

    <script type="text/JavaScript">
    $(document).ready(function(){
        $('#aboutNavBtn').addClass('active');
        console.log('Ready to go!');
    });
    </script>
  </body>
</html>

