<!DOCTYPE html><html><head>
    <title>ADMIN CONSOLE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            messageField = $("#JQ-Response-Field")

            $("#JQ-Form1_Button").click(function(){
                // Change User Permission
                form1email = $("#JQ-Form1_Input")
                form1select = $("#JQ-Form1_Select")

                console.log("Form1 Called, Information gathered")
                if (form1email.val()==""){
                    messageField.append("Email Required!\n")
                    return
                }
                console.log("Form1 Posting")
                $.post("/admin/changeUsrPerm",{UEmail:form1email.val(),NewPermLevel:form1select.val()},function(data){
                    j = $.parseJSON(data);
                    console.log("Form1 Parsed")
                    form1select.val("NONE")
                    form1email.val("")
                    messageField.append(j.Status +"   "+j.Reason+"\n")
                });
            });

            $("#JQ-Form2_Button").click(function(){
                // Check User Permission
                form2email = $("#JQ-Form2_Input")
                console.log("Form2 Called, Information gathered")
                if (form2email.val()==""){
                    messageField.append("Check User Permission: Email Required!\n")
                    return
                }
                console.log("Form2 Posting")
                $.get("/admin/getUsrPerm?UEmail="+form2email.val(),function(data){
                    j = $.parseJSON(data);

                    if (j.Status == "Success") {
                        messageField.append(form2email.val() + " : " + j.Response+"\n")
                    } else {
                        messageField.append(j.Status +"   "+j.Reason+"\n")
                    }
                    form2email.val("")
                });
            });

            $("#JQ-Form4_Button").click(function(){
                // Force Logout
                form4email = $("#JQ-Form4_Input").val()
                console.log("Form4 Called, Information gathered")
                if (form4email==""){
                    messageField.append("Force Logout: Email Required!\n")
                    return
                }
                console.log("Form4 Posting")
                $.postEmailTo(form4email,"/admin/forceUsrLogout",function(j){
                    if (j.Status == "Success") {
                        messageField.append(form4email + " : " + j.Response+"\n")
                    } else {
                        messageField.append(j.Status +"   "+j.Reason+"\n")
                    }
                });
            });

            $("#JQ-Form5_Button").click(function(){
                // Delete User
                form5email = $("#JQ-Form5_Input").val()

                console.log("Form5 Called, Information gathered")
                if (form5email==""){
                    messageField.append("Delete User: Email Required!\n")
                    return
                }
                console.log("Form5 Posting")
                $.postEmailTo(form5email,"/admin/deleteUsr",function(j){
                    if (j.Status == "Success") {
                        messageField.append(form5email + " : " + j.Response+"\n")
                    } else {
                        messageField.append(j.Status +"   "+j.Reason+"\n")
                    }
                });
            });

            $.postEmailTo = function(email,postAddr,callback){
                $.post(postAddr,{UEmail:email},function(data){
                    j = $.parseJSON(data)
                    callback(j)
                });
            }

            $.wait = function( callback, seconds){
                return window.setTimeout( callback, seconds * 1000 );
            }
        });
    </script>

  <!-- Minified Style Sheet for Admin Console. -->
  <style type="text/css">
    * {
      box-sizing: border-box;
    }

    *[foot] {
      position: relative;
      width: 100%;
      height: 25%;
    }

    *[head] {
      position: relative;
      width: 100%;
      height: 75%;
    }

    div[formbox] {
      margin: 2px;
      border: 1px solid black;
      padding: 2px;
      width: 48.5%;
    }

    div[formbox] input {
      width: 100%;
      margin: 10px auto;
      position: relative;
    }

    @media screen and (min-width: 301px) {
      div[flexer] {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        border: 3px solid gray;
        justify-content: space-between;
      }
      div[formbox][important] {
        width: 100%;
      }
      div[formbox] div[label] {
        font-size: 1.2em;
        width: 100%;
      }
      button[centered] {
        margin: 0 auto;
        display: block;
      }
    }

    @media screen and (max-width: 300px) {
      button,
      select,
      textarea,
      div[formbox] {
        width: 100%;
      }
    }
  </style>
</head><body>

<h1>Administration Console</h1>
<h3>Welcome, {{.}}</h3>
<div flexer>
  <!-- Head -->
  <div head flexer>
    
    <div id="JQ-Form1" important formbox>
      <div label>Change User's Permission</div>
      <input id="JQ-Form1_Input" placeholder="Email Address" type="text" />
      <select id="JQ-Form1_Select">
        <option value="Admin">Administrator</option>
        <option value="Write">Writer</option>
        <option value="Edit">Editor</option>
        <option value="Read">Reader</option>
        <option value="NONE" selected>SELECT ONE</option>
      </select>
      <button id="JQ-Form1_Button">Submit</button>
    </div>

    <div id="JQ-Form2" formbox>
      <div label>Check User's Permission</div>
      <input id="JQ-Form2_Input" placeholder="Email Address" type="text" />
      <button id="JQ-Form2_Button">Submit</button>
    </div>

    <div id="JQ-Form3" formbox>
      <div label>Email Lookup</div>
      <input id="JQ-Form3_Input" placeholder="Username" type="text" />
      <button id="JQ-Form3_Button" disabled>Submit</button>
    </div>

    <div id="JQ-Form4" formbox>
      <div label>Force Logout</div>
      <input id="JQ-Form4_Input" placeholder="Username" type="text" />
      <button id="JQ-Form4_Button">Submit</button>
    </div>

    <div id="JQ-Form5" formbox>
      <div label>Delete User</div>
      <input id="JQ-Form5_Input" placeholder="Username" type="text" />
      <button id="JQ-Form5_Button">Submit</button>
    </div>

    <div id="JQ-Form6" formbox>
      <div label>Memory Console</div>
      <button centered id="JQ-Form6_Button" disabled>Goto</button>
    </div>
  <!-- End Head -->
  </div>

  <!-- Footer -->
  <textarea foot id="JQ-Response-Field">
  </textarea>
</div>

</body></html>