<!DOCTYPE html>
<html lang="en">
<head>
{{template "Head" "Catalogs"}}
</head>

  <body>
    {{template "Nav" .}}

    <div class="container">

        <h2>Catalogs</h2>
        <p>
            <em>This is an alpha version of our web based educational content system.</em>
            <strong>User PL: {{.Permission}}</strong>
        </p>

        <div class="list-group well">
            <div class="list-group-item-heading">
                <!-- <button id="refreshCat" class="btn btn-xs btn-default pull-right" type="button"><span class="glyphicon glyphicon-refresh"></span></button> -->
                <div class="text-center">Catalogs</div>
            </div>
            <div class="list-group-root"></div>
        </div>

    </div>

    {{template "Footer"}}

    <!-- Delete Cat Modal *******************-->
      <div class="modal fade" id="catDeleteModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Delete Catalog</h2>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">All books in this catalog will be deleted, including corresponding objectives. Are you sure you wish to delete the whole catalog?</h4>
                <br/>
                <p>Catalog Name: <strong id="catDeleteName" type="text"></strong></p>
                <p>Catalog ID: <strong id="catDeleteTxt" type="text"></strong></p>
                <div class="input-group">
                    <label class="input-group-addon">Answer:</label>
                    <input type="text" class="form-control" id="verify" placeholder="To delete type yes."/>
                </div>                 
            </div>
            <div class="modal-footer">
              <button id="catDeleteBtn" type="button" class="btn btn-danger" data-dismiss="modal">Delete Catalog</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    <!-- END Delete Cat Modal ******************-->

    <script type="text/JavaScript">

        var loadingHTML = '<div class="text-center"><br/><p><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></p><br></div>';

        $(document).ready(function(){
            
            localStorage.clear();
            $('#catalogsNavBtn').addClass('active');
            $('.list-group-root').html(loadingHTML);
            getCatalogs();

            //modal work
            $('#catEditBtn').on('click',function(){ 
                var catID = $('#catEditTxt').html();
                var catName = $('#editCatName').val();
                editCatalog(catID,catName);
            });
            $('#catDeleteBtn').on('click',function(){ 
                var catID = $('#catDeleteTxt').html();
                var ans = $('#verify').val();
                if(ans==="yes")
                    deleteCatalog(catID);
                $('#verify').val('');
            });
        });

        function getCatalogs(){
            // hit the API and store the catalog in JSON
            $.get("/api/catalogs.json",function(data, status){ 
                localStorage.catalogs = JSON.stringify( ($.parseJSON(data)).results );   
                //gotta JSON.parse the strigified json object in local storage.
                populateCatalog();
            });
        }
        function getBooks(catID){
            $.get('/api/books.json?Catalog='+catID,function(data, status){
                //dynamic variables in javscript!
                localStorage.setItem('booksFor'+catID, JSON.stringify( ($.parseJSON(data)).results) );
                //gotta JSON.parse the strigified json object in local storage.  
                populateBooks(catID);
            });            
        }

        function populateCatalog(){
            //grab catalogs from local storage rather than api call
            j = JSON.parse(localStorage.catalogs);
            $('.list-group-root').html('<p> </p>');

            $.each( j, function( key, val ){
                var catalogID = val.ID;
                var catalogName = val.Name;
                //populate the root with the list group items
                var HTMLblock = catalogListGroupItem(catalogID,catalogName);
                $('.list-group-root').append( HTMLblock );
                catalogListGroupItemListeners(catalogID,catalogName);
                //one step ahead
                getBooks(catalogID);
            });

            //add Catalog button at end of level 1 list  *********************
        {{if eq .Permission 3}}
            var addCatBlock = '\
                                <div class="list-group-item">\
                                    <div class="input-group">\
                                        <input id="catalogInput" type="text" class="form-control" placeholder="Add Catalog."/>\
                                        <span class="input-group-btn">\
                                            <button id="catalogBtn" class="btn btn-primary" type="button">Add Catalog</button>\
                                        </span>\
                                    </div>\
                                </div>\
                                <p class="text-center"></p>\
                                ';
        {{else}}
            var addCatBlock = '<p class="text-center"> </p>';
        {{end}}

            $('.list-group-root').append(addCatBlock);
            
            //Adding a new catalog here ***
            $('#catalogInput').on('keyup',function(e){
                if(e.keyCode==13){$('#catalogBtn').trigger('click')}
            });
            $('#catalogBtn').on('click',function(){
                var newCat =  $('#catalogInput').val();
                $('.list-group-root').html(loadingHTML);

                $.post("/api/create/catalog",{CatalogName:newCat},function(data){
                    g = $.parseJSON(data);
                    console.log(g.result +":"+ g.reason+":"+ g.object.Title);
                    //best solution so far is to delay and wait for datastore 
                    $.wait(function(){getCatalogs()},2);
                });
            });
            //End add catalog functionality *********************************************
        };

        function populateBooks(catalogID){
            // cat-ID is book list root
            $('#cat-'+catalogID).html('');
            var k = JSON.parse(localStorage.getItem('booksFor'+catalogID));

            $.each( k, function( key, arg ){
                // each book is a link to it's TOC
                var htmlBlock2 = '<a href="/toc/'+arg.ID+'" class="list-group-item" ><i class="fa fa-book" aria-hidden="true"></i> '+arg.Title+'</a>';
                $('#cat-'+catalogID).append(htmlBlock2);
            });
                
            //append Book button at end of level 2 list  *********************
        {{if eq .Permission 3}}
            var addBookBlock = '\
                        <div class="list-group-item">\
                            <div class="input-group">\
                                <input id="bookInput-'+catalogID+'" type="text" class="form-control" placeholder="Add Book."/>\
                                <span class="input-group-btn">\
                                    <button id="addBookBtn-'+catalogID+'" class="btn btn-warning" type="button">Add Book</button>\
                                </span>\
                            </div>\
                        </div>\
                        <p class="text-center"></p>\
                        ';
        {{else}}
            var addBookBlock ='<p class="text-center"> </p>';
        {{end}}
            $('#cat-'+catalogID).append(addBookBlock);
            //now listeners for add book blocks
            $("#bookInput-"+catalogID).on('keyup',function(e){
                if(e.keyCode==13) $("#addBookBtn-"+catalogID).trigger('click');
            });

            $("#addBookBtn-"+catalogID).on('click',function(){
                var newBook =  $("#bookInput-"+catalogID).val(); 
                $('#cat-'+catalogID).html(loadingHTML);

                $.post("/api/create/book",{CatalogID:catalogID,BookName:newBook},function(data){
                   g = $.parseJSON(data);
                   console.log(g.result +":"+ g.reason);
                   $.wait(function(){getBooks(catalogID)},2);                   
                });
         
            });
        };
        
        function catalogListGroupItem(catalogID, catalogName){
            //note: href and collapse id have to have the same value to collapse
        {{if eq .Permission 3}}
            var htmlBlock = '\
                <div id="'+catalogID+'" name="'+catalogName+'">\
                    <a href="#cat-'+catalogID+'" class="list-group-item" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-right chevy"></span>'+catalogName +' \
                        <div class="btn-group btn-group-sm pull-right" role="group">\
                            <button id="edit-'+catalogID+'" class="btn btn-success" type="button"><span class="glyphicon glyphicon-pencil"></span></button>\
                            <button id="delete-'+catalogID+'" class="btn btn-danger " data-toggle="modal" data-target="#catDeleteModal" type="button"><span class="glyphicon glyphicon-remove"></span> </button>\
                        </div>\
                    </a>\
                    <div class="collapse books" id="cat-'+catalogID+'">\
                        <a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>\
                    </div>\
                </div>\
                ';
        {{else}}
            var htmlBlock = '\
                <div id="'+catalogID+'" name="'+catalogName+'">\
                    <a href="#cat-'+catalogID+'" class="list-group-item" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-right chevy"></span>'+catalogName +' \
                    </a>\
                    <div class="collapse books" id="cat-'+catalogID+'">\
                        <a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>\
                    </div>\
                </div>\
                ';
        {{end}}
            return htmlBlock;
        }
        function catalogListGroupItemListeners(catalogID, catalogName){
            // catalog edit button listener
            $('#edit-'+catalogID).one('click',function(e){
                e.stopPropagation();
                var catID = $(this).closest('a').parent().attr('id');
                window.location = '/edit/Catalog/'+catID;
            });
            $('#delete-'+catalogID).one('click',function(e){
                var catID = $(this).closest('a').parent().attr('id');
                var catName = $(this).closest('a').parent().attr('name');
                //populate modal 
                $('#catDeleteName').html(catName);
                $('#catDeleteTxt').html(catID);

            });

            $('#'+catalogID).on('click','a:first', function() {
                $(this).find('span:first').toggleClass('glyphicon-chevron-right')
                                            .toggleClass('glyphicon-chevron-down');
            });

        }
        function deleteCatalog(catID){
            $.post("/api/delete/catalog",{ID:catID},function(data){
                g = $.parseJSON(data);
                console.log(g.result +":"+ g.reason);

                if(g.result==="success"){
                    $('#'+catID).html('');
                }
                            
            });  
        };
        function editCatalog(catID,catName){
            $.post("/api/create/catalog",{ID:catID,CatalogName:catName},function(data){
                g = $.parseJSON(data);
                console.log(g.result +":"+ g.reason+":"+ catName);
                                
                if(g.result==="success"){
                    var htmlBlock = catalogListGroupItem(catID, catName);
                    $('#'+catID).html(htmlBlock);
                    catalogListGroupItemListeners(catID,catName);
                }
                            
            });  
        };


    </script>
  </body>
</html>

