<!DOCTYPE html>
<html lang="en">
{{template "Head" .}}
<body>
    {{template "Nav" .}}
            <input id="JQ-ObjectiveID" type="hidden" value="{{.ID}}" readonly>
    
    <div class="container">
    
        <div class="well" id="objectiveInfo">
            <p> Objective Editor Alpha 
                <span class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-primary saveBtn" id="JQ-SubmitButton"><span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved</button>
                    <button type="button" class="btn btn-success" id="JQ-BackBtn">Back</button>
                    <button type="button" class="btn btn-danger" id="deleteObjectiveBtn">Delete</button>
                </span>
            </p>
            <div class="input-group">
                <label class="input-group-addon">Objective:</label>
                <input type="text" class="form-control" id="JQ-ObjectiveTitle" placeholder="Objective" value="{{.Title}}">
            </div> 
            <div class="input-group">
                <label class="input-group-addon">Author:</label>
                <input type="text" class="form-control" id="JQ-AuthorInput" placeholder="Author" value="{{.Author}}">
            </div>  
            <div class="input-group">
                <label class="input-group-addon">Version:</label>
                <input type="text" class="form-control" placeholder="Version" id="JQ-Version" value="{{.Version}}">
            </div>
        </div>

        <div class="well">
            <p> Content 
                <span class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-primary saveBtn" id="JQ-SubmitButton"><span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved</button>
                    <button type="button" class="btn btn-success previewBtn" id="JQ-PreviewButton">Preview</button>
                </span>
            </p>
            <form class="goodBack">
                <textarea name="Message" id="JQ-Content" cols="10" wrap="hard" autofocus placeholder="Enter new message.">{{.Content}}</textarea>
            </form>
        </div>

        <div class="well">
            <p> Key Takeaways
                <span class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-primary saveBtn" id="JQ-SubmitButton"><span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved</button>
                    <button type="button" class="btn btn-success previewBtn" id="JQ-PreviewButton">Preview</button>
                </span>
            </p>
            <form class="goodBack">
                <textarea name="Message2" id="JQ-KeyTakeaways" wrap="hard" placeholder="KeyTakeaways">{{.KeyTakeaways}}</textarea>
            </form>
        </div>
                
        <div class="well">
            <p>Objective Exercises:</p>
        
            <div class="form-group">
                <div id="exerciseRoot" class="panel-group" ></div>
                <div class="input-group">
                    <input id="exerciseInput" type="text" class="form-control" placeholder="Add Exercise Instruction."/>
                    <span class="input-group-btn">
                        <button id="addExerciseBtn" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span> Add Exercise</button>
                    </span>
                </div>
                <p class="text-center"> </p>
            </div>

        </div>
      
    </div>

    {{template "Footer"}}

    <!-- Delete Objective Modal *******************-->
      <div class="modal fade" id="deleteObjectiveModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Delete Objective</h2>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">Deleting this objective cannot be undone.</h4>
                <br/>
                <p>Objective: <strong id="objName" type="text"></strong></p>
                <p>Objective ID: <strong id="objID" type="text"></strong></p>
                <div class="input-group">
                    <label class="input-group-addon">Answer:</label>
                    <input type="text" class="form-control" id="verify" placeholder="To delete type yes."/>
                </div>              
            </div>
            <div class="modal-footer">
              <button id="objDeleteBtn" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    <!-- END Delete Cat Modal ******************-->

   <!-- 
    <p>Results: <input id="JQ-Results" readonly></p><br>
    <p>Book: <input id="JQ-BookTitle" value=".BookTitle}}" readonly></p><br>
    <p>Chapter: <input id="JQ-ChapterTitle" value=".ChapterTitle}}" readonly></p><br>
    <p>Section: <input id="JQ-SectionTitle" value=".SectionTitle}}" readonly></p><br> -->

    <script type="text/javascript">
        $(document).ready(function(){
            var referrer =  document.referrer;
            objectiveID = $("#JQ-ObjectiveID").val();

            $(".saveBtn").click(function(){
                sectID = $("#JQ-SectionID").val()
                ObjeName = $("#JQ-ObjectiveTitle").val()
                ver = $("#JQ-Version").val()
                cont = CKEDITOR.instances['JQ-Content'].getData();
                ktw = CKEDITOR.instances['JQ-KeyTakeaways'].getData();
                authr = $("#JQ-AuthorInput").val();

                $.post("/api/create/objective",{SectionID:sectID,ObjectiveName:ObjeName,ID:objectiveID,Version:ver,Content:cont,KeyTakeaways:ktw,Author:authr},function(data){
                    j = $.parseJSON(data);
                    console.log(j.result +":"+ j.reason)
                    if (j.code == 0){ // reset save button
                        toggleSaveBtn("saved");
                    } else {
                        // say something
                    }
                });
                //$.wait(function(){$("#JQ-Results").val("")},3)
            });

            $(".previewBtn").click(function(){
                var url = '/preview?ID='+objectiveID;
                window.open(url,'_blank');
            });
            $("#JQ-BackBtn").click(function(){
                window.location = referrer;
            });

//CKeditor Stuff ***************************************
            var stdConfig = {
                    extraPlugins: 'mathjax',
                    mathJaxLib: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML',
                    filebrowserImageBrowseUrl: '/image/browser?action=browseImageURL&oid='+objectiveID,
                    filebrowserImageUploadUrl: '/api/ckeditor/create?action=uploadImageURL&oid='+objectiveID,
                    filebrowserBrowseUrl: '/image/browser?action=browseURL&oid='+objectiveID,
                    filebrowserUploadUrl: '/api/ckeditor/create?action=uploadURL&oid='+objectiveID,
                    removePlugins: 'forms',
                };

            var contentEditor = CKEDITOR.replace('JQ-Content',stdConfig);
            var keyTakeawaysEditor = CKEDITOR.replace('JQ-KeyTakeaways',stdConfig);
            // code stolen to overried the save event
            CKEDITOR.plugins.registered['save'] = {
                  init: function (editor) {
                     var command = editor.addCommand('save',
                     {
                          modes: { wysiwyg: 1, source: 1 },
                          exec: function (editor) { // Add here custom function for the save button
                            //alert('You clicked the save button in CKEditor toolbar!');
                            $('.saveBtn').trigger('click');
                          }
                     });
                     editor.ui.addButton('Save', { label: 'Save', command: 'save' });
                  }
            }
            CKEDITOR.config.contentsCss = '/public/css/myeditor.css';
//*********************************************************

            // save button functionality  TODO: IF any input changes toggle!
            $('#objectiveInfo input').on('keyup',function(){
                toggleSaveBtn();
            })
            contentEditor.on('change',function(){
                toggleSaveBtn();
            });
            keyTakeawaysEditor.on('change',function(){
                toggleSaveBtn();
            });

            $('#deleteObjectiveBtn').on('click',function(){

                $('#objName').html($("#JQ-ObjectiveTitle").val());
                $('#objID').html(objectiveID);
                $('#deleteObjectiveModal').modal('show');

                $('#objDeleteBtn').on('click',function(){
                    var ans = $('#verify').val();
                    if(ans==="yes"){
                        $.post("/api/delete/objective",{ID:objectiveID},function(data){
                             g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason); 
                            //go back to where you came from you dirty dog!
                            window.location = referrer; 
                        });                         
                    }
                });
            });

            //utility functions
            function toggleSaveBtn(status){
                if(status==="saved"){
                    $('.saveBtn').removeClass('btn-danger').addClass('btn-primary').html('<span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved');
                    $('.previewBtn').prop('disabled', false);
                }else{
                    $('.saveBtn').removeClass('btn-primary').addClass('btn-danger').html('<span id="saveGlyph" class="glyphicon glyphicon-exclamation-sign"> </span> Save');
                    $('.previewBtn').prop('disabled', true);
                }

            }


    // Exercises Work  ***********************************
            $('#exerciseInput').on('keyup',function(e){
                if(e.keyCode==13){
                    $('#addExerciseBtn').trigger('click');
                }
            });
            $('#addExerciseBtn').on('click',function(){
                var newInstruction =  $('#exerciseInput').val();
                var newQuestion = 'New Question';
                $('#exerciseInput').val('');
                
                $.post("/api/create/exercise",{ObjectiveID:objectiveID,Instruction:newInstruction,Question:newQuestion},function(data){
                    g = $.parseJSON(data);
                    console.log(g.result +":"+ g.reason+":"+ g.object.ID);
                    $("#exerciseRoot").append(getExerciseHTML(g.object.ID,newInstruction,newQuestion,""));
                });

               // window.location = '/edit/exercise/'+objectiveID;
            });
            function getExerciseHTML(exerciseID,instruction,question,answer){
                var exerciseHTML ='\
                    <div class="panel panel-default" id="'+exerciseID+'">\
                        <div class="panel-heading">\
                            <a class="collapsed" data-toggle="collapse" data-target="#ex-'+exerciseID+'" href="#collapse1"></a>\
                            <span class="pull-right ans">Answer &nbsp</span>\
                            <a href="/edit/exercise/'+exerciseID+'"  class="btn btn-xs btn-info" role="button" target="">Edit </a>\
                            <strong>'+instruction+'</strong><br/> \
                            <span class="checkbox">\
                                <label> <input type="checkbox" value="'+exerciseID+'"/>'+question+'</label>\
                            </span>\
                        </div>\
                        <div id="ex-'+exerciseID+'" class="panel-collapse collapse">\
                            <div class="panel-body"><strong>Answer: </strong>\
                                '+answer+'\
                            </div>\
                        </div>\
                    </div>';
                
                return exerciseHTML;
            }
            // this almost works
            function getObjectiveExercises(objectiveID){
                $("#exerciseRoot").html('');

                $.get("/api/exercises.json?ObjectiveID="+objectiveID,function(data, status){
                    var g = ($.parseJSON(data)).results;
                    var promises = [];

                    $.each( g, function( key, val ){
                        promises.push( $.get("/api/exercise.xml?ID="+val.ID) );
                    });
                    // now we have an array of promises.
                    console.log(promises); //This is good
                    //when they are ALL done... iterate through and populate the html in order (render mathjax after)
                    $.when.apply(null, promises).always(function() {
                      // Afterwards, do this.
                        console.log('all done');
                        $.each( promises, function( key, val ){
                            //console.log(val.responseText);
                            var xml = val.responseText;
                            var instr = $(xml).find("instruction").html();
                            var question = $(xml).find("question").html();
                            var ans = $(xml).find("solution").html();
                            var exID = $(xml).find("id").html();
                            $("#exerciseRoot").append(getExerciseHTML(exID,instr,question,ans));
                           
                        });
                    });
                    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"exerciseRoot"]);
                    
                });

            }

            getObjectiveExercises(objectiveID);


        });
    </script>

</body>
</html>