<!DOCTYPE html>
<html lang="en">
<head>
{{template "Head"}}
</head>
<body>
    {{template "Nav" .}}

    <div class="container">

        <div class="well" id="catalogInfo">
            <p> Catalog Editor
                <span class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-primary saveBtn" id="JQ-SubmitButton"><span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved</button>
                    <button type="button" class="btn btn-success backBtn" id="JQ-BackBtn">Back</button>
                </span>
            </p>
            <div class="input-group">
                <label class="input-group-addon">Catalog:</label>
                <input type="text" class="form-control" id="JQ-Title" placeholder="Catalog" value="{{.Title}}">
            </div> 
            <div class="input-group">
                <label class="input-group-addon">Version:</label>
                <input type="text" class="form-control" id="JQ-Version" placeholder="Version" value="{{.Version}}">
            </div>  
            <div class="input-group">
                <label class="input-group-addon">Company:</label>
                <input type="text" class="form-control" placeholder="Company" id="JQ-Company" value="{{.Company}}">
            </div>
        </div>

        <div class="well">
            <p> Description</p>
            <form>
                <textarea name="Message" id="JQ-Description" cols="10" wrap="hard" autofocus placeholder="Enter new message.">{{.Description}}</textarea>
            </form>
        </div>

        <input id="JQ-ID" readonly style="display: none;" value="{{.ID}}" />

    </div>

    {{template "Footer"}}

    <script type="text/javascript">
    $(document).ready(function(){

        var contentEditor = CKEDITOR.replace('JQ-Description',noImagesConfig);

        $("#JQ-SubmitButton").click(function(){
            //console.log("Save Called!")
            params = {
                ID: $("#JQ-ID").val(),
                CatalogName: $("#JQ-Title").val(),
                Company: $("#JQ-Company").val(),
                Version: $("#JQ-Version").val(),
                Description:CKEDITOR.instances['JQ-Description'].getData(),
            }
            //console.log("Posting: ")
            //console.log(params)
            $.post("/api/create/catalog",params,function(data){
                j = $.parseJSON(data);
                console.log(j.result +":"+ j.reason)
                if (j.code == 0){
                    //$("#JQ-Results").val("Submission Success");
                    toggleSaveBtn('saved');
                } else {
                    //$("#JQ-Results").val(j.reason)
                }
            })
        });
        $('#JQ-BackBtn').on('click',function(){
            window.location = '/catalogs/';
        });

        $('#catalogInfo input').on('keyup',function(){
            toggleSaveBtn();
        })
        contentEditor.on('change',function(){
            toggleSaveBtn();
        });
        function toggleSaveBtn(status){
            if(status==="saved"){
                $('.saveBtn').removeClass('btn-danger').addClass('btn-primary').html('<span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved');
            }else{
                $('.saveBtn').removeClass('btn-primary').addClass('btn-danger').html('<span id="saveGlyph" class="glyphicon glyphicon-exclamation-sign"> </span> Save');
            }

        }

    });
    </script>
</body>
</html>