<!DOCTYPE html>
<html lang="en">
<head>
{{template "Head"}}
</head>
<body>
    {{template "Nav" .}}
    <div class="container" >
        <div class="well" id="exerciseInfo">
            <p> Exercise Editor
                <span class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-primary saveBtn"><span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved</button>
                    <button type="button" class="btn btn-success" id="JQ-BackBtn">Back</button>
                    <button type="button" class="btn btn-danger" id="deleteExerciseBtn">Delete</button>
                </span>
            </p>
            <div class="input-group">
                <label class="input-group-addon">Instruction:</label>
                <input type="text" class="form-control" id="JQ-Instruction" placeholder="Objective" value="{{.Instruction}}">
            </div> 
            <div class="input-group">
                <label class="input-group-addon">Order:</label>
                <input type="text" class="form-control" id="JQ-Order" placeholder="Order" value="{{.Order}}">
            </div>  
        </div>

        <div class="well">
            <p> Question 
                <span class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-primary saveBtn"><span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved</button>
                    <button type="button" class="btn btn-success backTo">Back</button>
                </span>
            </p>
            <form class="">
                <textarea name="Message" id="JQ-Question" cols="10" wrap="hard" autofocus placeholder="Enter new message.">{{.Question}}</textarea>
            </form>
        </div>
        <div class="well">
            <p> Answer
                <span class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-primary saveBtn"><span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved</button>
                    <button type="button" class="btn btn-success backTo">Back</button>
                </span>
            </p>
            <form class="">
                <textarea name="Message2" id="JQ-Answer" wrap="hard" placeholder="KeyTakeaways">{{.Solution}}</textarea>
            </form>
        </div>


<input id="JQ-ID" readonly style="display: none;" value="{{.ID}}" />
<input id="JQ-OID" readonly style="display: none;" value="{{.Parent}}" />



    </div>

    <!-- Delete Exercise Modal *******************-->
      <div class="modal fade" id="deleteExerciseModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Delete Exercise</h2>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">Deleting this exercise cannot be undone.</h4>
                <br/>
                <p>Exercise: <strong id="exName" type="text"></strong></p>
                <p>Exercise ID: <strong id="exID" type="text"></strong></p>
                <div class="input-group">
                    <label class="input-group-addon">Answer:</label>
                    <input type="text" class="form-control" id="verify" placeholder="To delete type yes."/>
                </div>              
            </div>
            <div class="modal-footer">
              <button id="objDeleteBtn" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    <!-- END Delete Modal ******************-->

  {{template "Footer"}}
    <script type="text/javascript">
    $(document).ready(function(){
        var referrer =  document.referrer;
        exerciseID = {{.ID}};

        var questionEditor = CKEDITOR.replace('JQ-Question',stdImageConfig(exerciseID));
        var answerEditor = CKEDITOR.replace('JQ-Answer',stdImageConfig(exerciseID));

        $(".saveBtn").click(function(){
            console.log("Save Called!")
            params = {
                ID: $("#JQ-ID").val(),
                ObjectiveID: $("#JQ-OID").val(),
                Instruction: $("#JQ-Instruction").val(),
                Question:CKEDITOR.instances['JQ-Question'].getData(),
                Solution:CKEDITOR.instances['JQ-Answer'].getData(),
                Order: $("#JQ-Order").val(),
            }

            $.post("/api/create/exercise",params,function(data){
                j = $.parseJSON(data);
                console.log(j.result +":"+ j.reason)
                if (j.code == 0){
                    //$("#JQ-Results").val("Submission Success");
                } else {
                    //$("#JQ-Results").val(j.reason)
                }
                toggleSaveBtn('saved');
            })
        });

        $('#JQ-BackBtn, .backTo').on('click',function(){
            window.location = referrer;
        });

        $('#exerciseInfo input').on('keyup',function(){
            toggleSaveBtn();
        })
        questionEditor.on('change',function(){
            toggleSaveBtn();
        });
        answerEditor.on('change',function(){
            toggleSaveBtn();
        });
        function toggleSaveBtn(status){
            if(status==="saved"){
                $('.saveBtn').removeClass('btn-danger').addClass('btn-primary').html('<span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved');
            }else{
                $('.saveBtn').removeClass('btn-primary').addClass('btn-danger').html('<span id="saveGlyph" class="glyphicon glyphicon-exclamation-sign"> </span> Save');
            }

        }

        $('#deleteExerciseBtn').on('click',function(){

                $('#exName').html($("#JQ-Instruction").val());
                $('#exID').html(exerciseID);
                $('#deleteExerciseModal').modal('show');

                $('#objDeleteBtn').on('click',function(){
                    var ans = $('#verify').val();
                    if(ans==="yes"){
                        $.post("/api/delete/exercise",{ID:exerciseID},function(data){
                             g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason); 
                            //go back to where you came from you dirty dog!
                            window.location = referrer; 
                        });                         
                    }
                });
        });



    });
    </script>
</body>
</html>