<!DOCTYPE html>
<html lang="en">
<head>
{{template "Head"}}
</head>
<body>
    {{template "Nav" .}}

    <div class="container">

        <div class="well" id="catalogInfo">
            <p> Chapter Editor
                <span class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-primary saveBtn" id="JQ-SubmitButton"><span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved</button>
                    <button type="button" class="btn btn-success backBtn" id="JQ-BackBtn">Back</button>
                </span>
            </p>
            <div class="input-group">
                <label class="input-group-addon">Chapter:</label>
                <input type="text" class="form-control" id="JQ-Title" placeholder="Chapter" value="{{.Title}}">
            </div> 
            <div class="input-group">
                <label class="input-group-addon">Version:</label>
                <input type="text" class="form-control" id="JQ-Version" placeholder="Version" value="{{.Version}}">
            </div>
            <div class="input-group">
                <label class="input-group-addon">Order:</label>
                <input type="text" class="form-control" id="JQ-Order" placeholder="Order" value="{{.Order}}">
            </div>  
        </div>

        <div class="well">
            <p> Description</p>
            <form>
                <textarea name="Message" id="JQ-Description" cols="10" wrap="hard" autofocus placeholder="Enter new message.">{{.Description}}</textarea>
            </form>
        </div>

        <input id="JQ-ID" readonly style="display: none;" value="{{.ID}}" />
<!--
        <label for="JQ-Results">Results:</label>
        <input id="JQ-Results" readonly />
-->
    </div>

    {{template "Footer"}}
<body>


<input id="JQ-ID" readonly style="display: none;" value="{{.ID}}" />
<!--
<button id="JQ-SubmitButton">Submit</button>
<label for="JQ-Results">Results:</label>
<input id="JQ-Results" readonly />
-->


    <script type="text/javascript">
    $(document).ready(function(){
        var referrer =  document.referrer;
        // no images
        var nonstdConfig = {
                    extraPlugins: 'mathjax',
                    mathJaxLib: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML',
                    removePlugins: 'forms'
                };

        var contentEditor = CKEDITOR.replace('JQ-Description',nonstdConfig);
            // code stolen to overried the save event
              CKEDITOR.plugins.registered['save'] = {
                  init: function (editor) {
                     var command = editor.addCommand('save',
                     {
                          modes: { wysiwyg: 1, source: 1 },
                          exec: function (editor) { // Add here custom function for the save button
                            //alert('You clicked the save button in CKEditor toolbar!');
                            $('.saveBtn').trigger('click');
                          }
                     });
                     editor.ui.addButton('Save', { label: 'Save', command: 'save' });
                  }
              }

        $("#JQ-SubmitButton").click(function(){
            console.log("Save Called!")
            params = {
                ID: $("#JQ-ID").val(),
                ChapterName: $("#JQ-Title").val(),
                Version: $("#JQ-Version").val(),
                Description:CKEDITOR.instances['JQ-Description'].getData(),
                Order: $("#JQ-Order").val(),
            }
            console.log("Posting: ")
            console.log(params)
            $.post("/api/create/chapter",params,function(data){
                j = $.parseJSON(data);
                console.log(j.result +":"+ j.reason)
                if (j.code == 0){
                    //$("#JQ-Results").val("Submission Success");
                    toggleSaveBtn('saved');
                } else {
                    //$("#JQ-Results").val(j.reason)
                }
            })
        });

        $('#JQ-BackBtn').on('click',function(){
            window.location = referrer;
        });

        $('#catalogInfo input').on('keyup',function(){
            toggleSaveBtn();
        })
        contentEditor.on('change',function(){
            toggleSaveBtn();
        });
        function toggleSaveBtn(status){
            if(status==="saved"){
                $('.saveBtn').removeClass('btn-danger').addClass('btn-primary').html('<span id="saveGlyph" class="glyphicon glyphicon-ok"> </span> Saved');
            }else{
                $('.saveBtn').removeClass('btn-primary').addClass('btn-danger').html('<span id="saveGlyph" class="glyphicon glyphicon-exclamation-sign"> </span> Save');
            }

        }

    });
    </script>
</body>
</html>