<!DOCTYPE html>
<html>
<head>
    <title>Error: {{.Code}}</title>
<script type="text/javascript">
    function clickswap(e) {
        a = document.querySelector("#" + e);
        b = document.querySelector("#" + e + " + div");
        if (b.getAttribute("hide") == "yes") {
            b.setAttribute("hide", "no");
            a.setAttribute("selected", "yes");
        } else {
            b.setAttribute("hide", "yes");
            a.setAttribute("selected", "no");
        }
    }
    console.log(window.location.pathname)
</script>
<style type="text/css">
    * {
        box-sizing: border-box;
    }
    div[hide="yes"] {
        display: none;
    }
    button {
        border-radius: 4px;
        border: none;
        background-color: darkgray;
        text-align: center;
        display: block;
        color: white;
        margin: 10px;
        margin-left: 0px;
        width: 100%;
    }
    button[selected="yes"] {
        background-color: gray;
        color: white;
    }
    a {
        text-decoration: none;
        border-radius: 4px;
        background-color: darkgray;
        display: block;
        margin-top: 10px;
        color: white;
        text-align: center;
    }
    nav {
        position: relative;
        width: 50vw;
    }
    #Rec {
        position: relative;
        width: 100vw;
        border-bottom: 2px dashed black;
        font-size: 1.3em;
    }
    #ErrDisc {
        color: gray;
        font-size: 0.8em;
    }
</style>
</head>
<body>

<h1>Uh Oh!</h1>
<h3>It looks like something went wrong.</h3>
<div id="Rec"><p style="text-decoration: underline;">Recommended Action:</p><p>
    {{.Recommend}}
</p></div>
<nav>
<a href="/">Go Home</a>
<a href="/login">Login and Return</a>
<button id="MInfo" onclick="clickswap(`MInfo`)">More Information</button>
<div id="ErrDisc" hide="yes"><p>
    {{.MoreInfo}}
</p>
</div>
</nav>

<!-- Expects Struct
    Code int
    Recommend string
    MoreInfo string
 -->

</body>
</html>