<!DOCTYPE html>

<html lang="en">
<head>
{{template "Head" "Content System"}}
</head>
  <body>
    {{template "Nav" .}}

    <div class="container mainContent">

        <div class="jumbotron jumboStyle">
          <h1>ENS Content System α</h1>
          <p class="lead">Create, edit, and serve mobile-friendly 21st century modular textbook content.</p>
        </div>
        <hr/>

        <blockquote>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/public/images/create01.png" alt="Allen Mills" title="Allen Mills" class="img-circle" style="width:100px">
                </div>
                <div class="col-sm-10">
                    <p>
                        <strong>Create:</strong> - We have built an entire content database using Google's App. Engine.  Safe, secure, and fast delivery via Google cloud services.
                        <br />
                    </p>
                   
                    <p><i class="fa fa-check-square-o icon-color" aria-hidden="true"></i> <em>Copy and paste from MS Word or author online.</em></p>
                    <p><i class="fa fa-check-square-o icon-color" aria-hidden="true"></i> <em>Equations stored as LaTex and rendered with <a href="http://docs.mathjax.org/en/latest/tex.html#supported-latex-commands" target="_blank"> MathJax.</em></a></p>
                    <p><i class="fa fa-check-square-o icon-color" aria-hidden="true"></i><em> Reflowable text and dynamic image resizing.</em></p>
                   
                </div>
            </div>
        </blockquote>
        <hr/>
        <blockquote class="blockquote-reverse" >
            <div class="row">
                <div class="col-sm-10" >
                    <p>
                        <strong>Edit:</strong> - An entire content editing system from images to LaTex equation typsetting. This includes the streamlined conversion process enabled by our custom implementation of CKeditor.
                        <br />  
                    </p>
                   
                    <p><em>Sign in with Google and edit online.</em> <i class="fa fa-check-square-o icon-color" aria-hidden="true"></i></p>
                    <p><em>Full ckEditor functionality including HTML and LaTex.</em> <i class="fa fa-check-square-o icon-color" aria-hidden="true"></i></p>
                    <p><em>Instant access to edited materials (no more errata pages!).</em> <i class="fa fa-check-square-o icon-color" aria-hidden="true"></i></p>

                  
                </div>
                <div class="col-sm-2">
                    <img src="/public/images/edit01.png" alt="Allen Mills" title="Allen Mills" class="img-circle" style="width:100px">
                </div>
            </div>
        </blockquote>
                        <hr/>
        <blockquote>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/public/images/serve01.png" alt="Allen Mills" title="Allen Mills" class="img-circle" style="width:100px">
                </div>
                <div class="col-sm-10">
                    <p>
                        <strong>Serve:</strong> - A complete set of well documented application interfaces (API) as well as clean embedable content pages.
                        <br />
                    </p>
                    <p><i class="fa fa-check-square-o icon-color" aria-hidden="true"></i> <em>Mobile friendly math content.</em></p>
                    <p><i class="fa fa-check-square-o icon-color" aria-hidden="true"></i> <em>Modular content that is flexible.</em></p>
                    <p><i class="fa fa-check-square-o icon-color" aria-hidden="true"></i> <em>A robust API for online developers.</em></p>
                </div>
            </div>
        </blockquote>
        <hr/>
        
    </div>

    {{template "Footer"}}

    <script type="text/JavaScript">
    $(document).ready(function(){
        $('.navbar-brand').css('background-color','darkslategray');
        //console.log('Ready to go!');
    });
    </script>
  </body>
</html>

