<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <style type="text/css">
        .dropdown {
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }
    </style>
  </head>

  <body>
    <div class="container">
        <h2><span><img src="/public/images/eduNetSystems-logo.png"></span>EduNetSystems</h2>
        <p><em>Objective Selector alpha</em></p>
    <div class="card text-xs-center">

      <div class="card-block">
        <h4 class="card-title">EduNetSystems Content Selector</h4>
        <p class="card-text">In the very distant future there will be much content.</p>
        
        <!-- cat dropdown button starts here -->
        <div class="dropdown" id="catMenuDropdown">
            <label>Catalog</label>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >Choose a Catalog</button>
            <div class="dropdown-menu" id="catMenu">
                <a class="dropdown-item" href="/">Loading...</a>
            </div>
        </div>

        <br/> <br/>

        <!-- book dropdown button starts here -->        
        <div class="dropdown invisible" id="bookMenuDropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">Choose a Book</button>
          <div class="dropdown-menu" id="bookMenu">
            <a class="dropdown-item" href="/">Loading...</a>
          </div>
        </div>

        <br/> <br/>
        
        <!-- chapter dropdown button starts here -->        
        <div class="dropdown invisible" id="chapterMenuDropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">Choose a Chapter</button>
          <div class="dropdown-menu" id="chapMenu">
            <a class="dropdown-item" href="/">Loading...</a>
          </div>
        </div>

        <br/> <br/>
        
        <!-- section dropdown button starts here -->        
        <div class="dropdown invisible" id="sectionMenuDropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown">Choose a Section</button>
          <div class="dropdown-menu" id="sectMenu">
            <a class="dropdown-item" href="/">Loading...</a>
          </div>
        </div>

        <br/> <br/>

        <!-- objective dropdown button starts here -->        
        <div class="dropdown invisible" id="objectiveMenuDropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown">Choose an Objective</button>
          <div class="dropdown-menu" id="objMenu">
            <a class="dropdown-item" href="/">Loading...</a>
          </div>
        </div>

        <br/> <br/>
        <!-- end of road buttons -->
        <div id="actionGroup" class="btn-group btn-group-sm invisible">
            <button type="button" id="gotoEditor" class="btn btn-success">Edit</button>
            <button type="button" id="gotoPreview" class="btn btn-success">Preview</button>
            <button type="button" class="btn btn-success">Delete</button>
        </div>


      </div>
      <div class="card-footer text-muted" id='catFooter'>
        loading...
      </div>
    </div>

        <!-- **************** Generalized New Entry Modal -->
        <div id="inputModal" class="modal fade">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button id='cancel' type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New Submission</h4>
              </div>
              <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" id="newEntry" class="form-control" placeholder="New Entry" aria-describedby="basic-addon1" autofocus>
                </div>
              </div>
              <div class="modal-footer">
                <button id='submit' type="button" class="btn btn-primary" data-dismiss="modal">Submit Entry</button>
           
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

    <!-- jQuery first, then Bootstrap 4 JS. -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script type="text/JavaScript">
        // I totally need to refactor this!!

        $(document).ready(function(){

            // initiate page by getting list of catalogs *************************************************
            populateNextDropdown("catalogs");
            //popCatalogDropdown();
            // handle catalog click events

            $('#catMenuDropdown').on('click','a',function(){
                var cat = $(this).attr('name');
                $('#dropdownMenu1').html(cat);

                localStorage.cat = cat;

                if(cat==="newEntry"){
                    addNewEntry("catalog");

                }else{
                    populateNextDropdown("books",cat);
                    $('#bookMenuDropdown').removeClass('invisible');
                }

            });
            //*********************************************************************************

            $('#bookMenuDropdown').on('click','a',function(){
                var id = $(this).attr('name');
                var bookTitle = $(this).html();

                console.log(localStorage.cat+" in book");

                localStorage.bookID = id;

                $('#dropdownMenu2').html(bookTitle);
                
                if(id==="newEntry"){
                    addNewEntry("book");
                }else{
                    //popChapterDropdown(id);
                    populateNextDropdown("chapters",id);
                    $('#chapterMenuDropdown').removeClass('invisible');

                    var url = '/toc.html?ID='+id;
                    window.open(url,'_blank'); 
                }

            });

           //*********************************************************************************

            $('#chapterMenuDropdown').on('click','a',function(){
                var id = $(this).attr('name');
                var chapterTitle = $(this).html();

                localStorage.chapterID = id;
                
                $('#dropdownMenu3').html(chapterTitle);
                
                if(id==="newEntry"){
                    var cat = $('#dropdownMenu1').html();
                    var bookID = $('#dropdownMenu2:selected').attr('name');
                    addNewEntry("chapter")

                }else{
                    populateNextDropdown("sections",id);
                    $('#sectionMenuDropdown').removeClass('invisible');
                }

            });

           //*********************************************************************************

            $('#sectionMenuDropdown').on('click','a',function(){
                var id = $(this).attr('name');
                var sectionTitle = $(this).html();

                localStorage.sectionID = id;

                $('#dropdownMenu4').html(sectionTitle);
                
                if(id==="newEntry"){
                    addNewEntry("section")

                }else{
                    populateNextDropdown("objectives",id);
                    $('#objectiveMenuDropdown').removeClass('invisible');
                }

            });

           //*********************************************************************************

            $('#objectiveMenuDropdown').on('click','a',function(){
                var id = $(this).attr('name');
                var objectiveTitle = $(this).html();

                localStorage.objectiveID = id;

                $('#dropdownMenu5').html(objectiveTitle);
                
                if(id==="newEntry"){
                    addNewEntry("objective")

                }else{
                    $('#gotoEditor').on('click',function(){
                        var url = '/edit?ID='+id;
                        window.open(url,'_blank');                      
                    });
                    $('#gotoPreview').on('click',function(){
                        var url = '/preview?ID='+id;
                        window.open(url,'_blank');
                    });

                    $('#actionGroup').removeClass('invisible');
                }

                                    $('#gotoEditor').on('click',function(){
                        var url = '/edit?ID='+id;
                        window.open(url,'_blank');                      
                    });
                    $('#gotoPreview').on('click',function(){
                        var url = '/preview?ID='+id;
                        window.open(url,'_blank');
                    });

                    $('#actionGroup').removeClass('invisible');



            });



        });
        //utility functions **********************************
        function addNewEntry(req,cat,bookID){
            var newName ="";

            $('#inputModal').modal('toggle');

            //make a new entry
            $('#submit').on('click',function(){
                        
                newName = $('#newEntry').val();
                if(newName){
                    //var cat = cat = $('#catMenuDropdown').attr('name');
                    console.log(newName + " - " + localStorage.cat + " - " + bookID);
                    var url = "";
                    switch(req){
                        case "catalog":
                            url = "/api/makeCatalog";
                            qStr1 = "#catMenuDropdown";
                            qStr2 = "#bookMenuDropdown";
                            nextUp = "books";
                            jsonArgs = {CatalogName:newName};
                            localStorage.cat = newName;
                            break;
                        case "book":
                            url = "/api/makeBook"
                            qStr1 = "#bookMenuDropdown";
                            qStr2 = "#chapterMenuDropdown";
                            nextUp = "chapters";
                            jsonArgs = {CatalogName:localStorage.cat,BookName:newName};
                            break;
                        case "chapter":
                            url = "/api/makeChapter"
                            qStr1 = "#chapterMenuDropdown";
                            qStr2 = "#sectionMenuDropdown";
                            nextUp = "sections";
                            jsonArgs = {BookID:localStorage.bookID,ChapterName:newName};
                            break;
                        case "section":
                            url = "/api/makeSection"
                            qStr1 = "#sectionMenuDropdown";
                            qStr2 = "#objectiveMenuDropdown";
                            nextUp = "objectives";
                            jsonArgs = {ChapterID:localStorage.chapterID,SectionName:newName};
                            break;
                        case "objective":
                            url = "/api/makeObjective"
                            qStr1 = "#objectiveMenuDropdown";
                            qStr2 = "#endofline";
                            nextUp = "show";
                            jsonArgs = {SectionID:localStorage.sectionID,ObjectiveName:newName};
                            break;
                        default: 
                            url = "";
                    }

                    $.post(url,jsonArgs,function(data){
                        j = $.parseJSON(data);
                        console.log(j.result +":"+ j.reason);
                        location.reload();
                        //$(qStr1).find('button:first').html(newName);
                        //$(qStr2).removeClass('invisible');
                        //repopulate current dropdown
                        //populateNextDropdown(nextUp);

                    });
                }else{
                    //$('#dropdownMenu1').html("Choose a Catalog");
                }
            });

            $('#cancel').click(function(){
                        //$('#inputModal').modal('toggle');
                        //$('#dropdownMenu1').html("Choose a Catalog");
            });
        }
  
        function populateNextDropdown(req,argID){
            var url = "";
            switch(req){
                case "catalogs":
                    url = "/api/catalogs.json";
                    qStr = "#catMenu";
                    break;
                case "books":
                    url = "/api/books.json?Catalog="+argID;
                    qStr = "#bookMenu";
                    break;
                case "chapters":
                    url = "/api/chapters.json?BookID="+argID;
                    qStr = "#chapMenu";
                    break;
                case "sections":
                    url = "/api/sections.json?ChapterID="+argID;
                    qStr = "#sectMenu";
                    break;
                case "objectives":
                    url = "/api/objectives.json?SectionID="+argID;
                    qStr = "#objMenu";
                    break;
                default: 
                    url = "";
            }

            $.get(url,function(data, status){
                j = $.parseJSON(data);
                //console.log("in dropdown thing");
                $("#catFooter").html(j.results.length + " " + req);
                $(qStr).html('');

                $.each( j.results, function( key, val ){
                    if(req==="catalogs") val.Title = val.ID;//cat situation is different
                    $(qStr).append( '<a class="dropdown-item" href="#" name='+val.ID+'>'+val.Title+'</a>');
                });
                $(qStr).append( '<div class="dropdown-divider"></div>' )
                              .append( '<a class="dropdown-item" href="#" name="newEntry">New Entry</a>' );

            });

        }


    </script>
  </body>
</html>

