<!DOCTYPE html>
<html lang="en">
<head>
{{template "Head" "Objective Preview"}}

    <script type="text/javascript" src="/public/js/printThis.js"></script>

    <style type="text/css">

    body{
        font-size:large;
        line-height: 1.5;
        font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
        background-color: oldlace;
        width:100%;
    }
    img {
        max-width: 100%;
        height: auto !important;
        width: auto\9;  
    }
    .bookPage{
        border-radius: 5px;
        background: white;
        border-color: darkgrey;
        border-style: solid;
        border-width: 1px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .font-size-small {
        font-size: small;
    }
    .font-size-medium {
        font-size: large;
    }
    .font-size-large {
        font-size: x-large;
    }
    .ens-example {
        border-radius: 5px;
        background: whitesmoke;
        padding: 10px; 
        border-color: darkgrey;
        border-style: solid;
        border-width: 1px;
        margin-bottom:10px;
        margin-top:10px;
    }
    .objective, .keytakeaways, .exercises {
        border-radius: 5px;
        background: whitesmoke;
        padding: 10px; 

    }
    .objective > strong, .keytakeaways > strong, .exercises > strong {
        color: firebrick;
    }
        .panel-heading a:not(.btn):after {
            font-family:'Glyphicons Halflings';
            content:"\e114";
            float: right;
            color: grey;
        }
        .panel-heading a.collapsed:after {
            content:"\e080";
        }
        .well > .form-group > .panel-group > .panel {
            color: black;
        }


        .mono { font-family: Consolas, Lucida Console, monospace;
        font-size:small; 
        width:100%;
        color:black;
        }
        .shareBox{
                    border-radius: 5px;
        background: whitesmoke;
        padding: 10px; 
        border-color: darkgrey;
        border-style: solid;
        border-width: 1px;
        margin-bottom:10px;
        margin-top:10px;

        }
        .modal-footer, .modal-header, .close{
            background-color: #233B3B;
            color:white;
        }

        #objectiveTitle{
            font-size: 1.5em;
        }
        #objectivePath, .info{
            font-size:0.8em;
            color:oldlace;

        }

    </style>

</head>
<body>
{{template "Nav" .}}

     <div id="objectiveHeader" class="container well">
    {{if eq .Permission 3}}
        <div class="btn-group btn-group-sm pull-right" role="group">
            <button id="editObjectiveBtn" class="btn btn-success" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
        </div>
    {{end}}
        <span id="objectivePath">Loading...</span> <br>
        <div id="objectiveTitle" class=""><i class="fa fa-file-text-o"></i> <span id="objective-title">{{.Title}}</span></div>
        <p class="info">
            <span id="objectiveAuthor" class="">Author: {{.Author}}</span><br/>
            <span id="objectiveVersion" class="">Ver.: {{.Version}}</span> <br/>
            <span id="objective-id" class="hidden">{{.ID}}</span>  

        </p>
        <div id="objectiveDescription"></div>
    </div>       
 

    <div class="container bookPage" id="ENScontent">
        <div class="pull-right">
            <div class="btn-group btn-group-xs" role="group">
              <button id="font-size-small-btn" class="btn"><span class="font-size-small glyphicon glyphicon-font"></span></button>
              <button id="font-size-medium-btn" class="btn"><span class="font-size-medium glyphicon glyphicon-font"></span></button>
              <button id="font-size-large-btn" class="btn"><span class="font-size-large glyphicon glyphicon-font"></span></button>
            </div>
        </div>
        <hr/>
        <div class="objective"><strong>Objective: </strong><span id="objective-title">{{.Title}}</span>
            <div class="btn-group btn-group-sm pull-right" role="group">
            <button id="share-objective" class="btn btn-default btn-sm "><span class="glyphicon glyphicon-share" data-toggle="modal" data-target="#objectiveReaderModal"></span></button>
            <button id="print-objective" class="btn btn-default btn-sm "><span class="glyphicon glyphicon-print"></span></button>
            </div>
        </div>
        <br/>
        <div id="objective-content" class="text-justify">{{.Content}}</div>

        <hr/>
        <div class="keytakeaways"><strong>Key Takeaways:</strong>
            <button id="print-keytakeaways" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-print"></span></button>
        </div>
        <div id="keytakeaways">{{.KeyTakeaways}}</div>
        <hr/>

        <div class="exercises"><strong>Exercises:</strong>
            <button id="toggle-all" class="btn btn-default btn-sm">Select All</button>
            <button id="print-selected" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-print"></span></button>
        </div>
        <p class="text-center"> </p> 
        <div id="exerciseRoot" class="panel-group" >Exercises go here.</div>
        <p class="text-center"> </p> 

        <div id="ObjectiveInfo">
            <span>Authors: {{.Author}} - </span>
            <span>Version: {{.Version}}</span>
            <div>© eduNetSystems.com</div>
        </div>
        <div id="printableDiv" class="hidden"> </div>
        

        <!-- Reader Share Modal *******************-->
          <div class="modal fade" id="objectiveReaderModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div  class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><span class="glyphicon glyphicon-share"></span> Share Objective</h2>
                </div>
                <div id="shareWell" class="modal-body">

                    <div id="backColor" class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Background Color
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a>oldlace</a></li>
                            <li><a>white</a></li>
                            <li><a>lightblue</a></li>
                            <li><a>lightpink</a></li>
                            <li><a>lightgreen</a></li>
                            <li class="divider"></li>
                            <li><div class="text-center">Any Named Color</div></li>
                        </ul>
                    </div>
                  

                    <div class="shareBox">
                        <div><strong>Link to objective:</strong></div>
                        <textarea id="objective-link" class="mono">http link here</textarea>
                        <a id="linkBtn" class="btn btn-info"><span class="glyphicon glyphicon-copy"></span> Select Code.</a>
                    </div>
                   
                    <div class="shareBox">
                        <div><strong>Iframe embed code:</strong></div>
                        <textarea id="objective-embed" class="mono">Embed code here</textarea> 
                        <a id="embedBtn" class="btn btn-info"><span class="glyphicon glyphicon-copy"></span> Select Code.</a>
                    </div>
                 
                </div>

                <div class="modal-footer">
                  <button id="objective-read" type="button" class="btn btn-success" data-dismiss="modal">Goto Page</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
              </div>
              
            </div>
          </div>
        <!-- END  Modal ******************-->
        
    </div>
    <br/>

        {{template "Footer"}}

    <script type="text/javascript">
        $(document).on('ready',function(){
            objectiveID=$('#objective-id').html();
            defaultBackgroundColor = $('body').css('background-color');
            //console.log(location.origin);

            var pageInfo; //breadcrumb work
            var breadCrumbPromise = ensBreadcrumb("Objective",objectiveID);
            breadCrumbPromise.done(function(data){
                pageInfo = $.parseJSON(data).Results;

                var pathHTML = '<i class="fa fa-book" aria-hidden="true"></i> '  + pageInfo.BookTitle +' <i class="fa fa-angle-double-right" aria-hidden="true"></i> '+pageInfo.ChapterOrder+'. '+pageInfo.ChapterTitle
                                        +' <i class="fa fa-angle-double-right" aria-hidden="true"></i> '+pageInfo.ChapterOrder+'.'+pageInfo.SectionOrder+' '+pageInfo.SectionTitle;

                var objNumberHTML = pageInfo.ChapterOrder+'.'+pageInfo.SectionOrder+'-'+pageInfo.ObjectiveOrder+' ';
                $('#objectivePath').html( pathHTML );
                $('#objective-title').prepend(objNumberHTML);

            })

            $('#editObjectiveBtn').click(function(){
                window.location = '/edit/Objective/'+objectiveID;
            })

            $('#font-size-small-btn').click(function() {
                $('body').removeClass("font-size-large");
                $('body').removeClass("font-size-medium");
                $('body').addClass("font-size-small");
            });

            $('#font-size-medium-btn').click(function() {
                $('body').removeClass("font-size-large");
                $('body').removeClass("font-size-small");
                $('body').addClass("font-size-medium");
            });

            $('#font-size-large-btn').click(function() {
                $('body').removeClass("font-size-small");
                $('body').removeClass("font-size-medium");
                $('body').addClass("font-size-large");
            });
            //todo streamline this button
            $('#toggle-all').click(function() {
                if($(this).html()==="Select All"){
                    $('#exerciseRoot input[type="checkbox"]').prop('checked', true);
                    $(this).html('Deselect All');
                }else{
                    $('#exerciseRoot input[type="checkbox"]').prop('checked', false);
                    $(this).html('Select All');
                }
            });
            //print functionality
            $('#print-objective').click(function(){
                $('#printableDiv').html('<strong>Objective:</strong> '+$('#objective-title').html()+'<br/><br/>');
                var c = $('#objective-content').html();
                $('#printableDiv').append(c+'<br/><br/>');
       
                $('#printableDiv').printThis({
                        importCSS: false,      
                        importStyle: true,    
                        printContainer: true,     
                        pageTitle: "ENS Content System",             
                        removeInline: false,    
                        printDelay: 2000,    
                        header: null,        
                        formValues: true,
                        loadCSS: "/public/css/ens-print.css",     
                });
                
            });
            $('#share-objective').click(function(){
                var link = location.origin+ "/read/objective?ID="+objectiveID;
                var embed = '<iframe src="'+link+'" width="100%" height="600" allowfullscreen="allowfullscreen"></iframe>';
                $('#objective-id').html(objectiveID);
                $('#objective-link').html(link);
                $('#objective-embed').html(embed);
                $('#shareWell').css('background-color',defaultBackgroundColor);
                $('#linkBtn').off('click').on('click',function(){
                    SelectText('objective-link');
                });
                $('#embedBtn').off('click').on('click',function(){
                    SelectText('objective-embed');
                });
                $('#objective-read').off('click').on('click',function(){
                    window.open($('#objective-link').val());
                });
                $('#backColor ul li > a').click(function(){
                    c=$(this).html();
                    var newLink = link+'&Background='+c;
                    var newEmbed = '<iframe src="'+newLink+'" width="100%" height="600" allowfullscreen="allowfullscreen"></iframe>';
                    $('#shareWell').css('background-color',c);
                    $('#objective-link').html(newLink);
                    $('#objective-embed').html(newEmbed);
                });
                $('#colorInput').keypress(function (e) {
                  if (e.which == 13) {
                    $(this).submit();
                    return false;    //<---- Add this line
                  }
                });
                

            });
            $('#print-keytakeaways').click(function(){
                $('#printableDiv').html('<strong>Objective:</strong> '+$('#objective-title').html()+'<br/>Key Takeaways:<br/>');
                var c = $('#keytakeaways').html();
                $('#printableDiv').append(c+'<br/><br/>');
       
                $('#printableDiv').printThis({
                        importCSS: false,      
                        importStyle: true,    
                        printContainer: true,     
                        pageTitle: "ENS Content System",             
                        removeInline: false,    
                        printDelay: 2000,    
                        header: null,        
                        formValues: true,
                        loadCSS: "/public/css/ens-print.css",     
                });
                
            });
            $('#print-selected').click(function(){
                $('#printableDiv').html('<strong>Objective:</strong> '+$('#objective-title').html()+'<br/>Exercises:<br/><br/>');
                var c = $('#exerciseRoot input[type="checkbox"]:checked');
                $.each( c, function( key, val ){
                    var id = $(val).attr('value');
                    var n = $('#'+id).find('.num').html();
                    var q = $('#'+id).find('.question').html();
                    var i = $('#'+id).find('.instr').html();
                    $('#printableDiv').append('#'+n+' '+i +'<br/>'+q+'<br/><br/>');

                    //console.log($(val).attr('value'));
                });
                $('#printableDiv').printThis({
                        importCSS: false,      
                        importStyle: true,    
                        printContainer: true,     
                        pageTitle: "ENS Content System",             
                        removeInline: false,    
                        printDelay: 2000,    
                        header: null,        
                        formValues: true,
                        loadCSS: "/public/css/ens-print.css",     
                });
                
            });
//exercise Work
            function getExerciseHTML(exerciseID,instruction,question,answer,number){
                var exerciseHTML ='\
                    <div class="panel panel-default" id="'+exerciseID+'">\
                        <div class="panel-heading">\
                            <a class="collapsed" data-toggle="collapse" data-target="#ex-'+exerciseID+'" ></a>\
                            <span class="pull-right ans">Answer &nbsp</span>\
                            <strong><span class="num">'+number+'.</span> <span class="instr">'+instruction+'</span></strong><br/> \
                            <span class="checkbox">\
                                <label> <input type="checkbox" value="'+exerciseID+'"/><span class="question"'+question+'</span></label>\
                            </span>\
                        </div>\
                        <div id="ex-'+exerciseID+'" class="panel-collapse collapse">\
                            <div class="panel-body"><strong>Answer: </strong>\
                                '+answer+'\
                            </div>\
                        </div>\
                    </div>';
                
                return exerciseHTML;
            }
            // this almost works
            function getObjectiveExercises(objectiveID){
                $("#exerciseRoot").html('');

                $.get("/api/exercises.json?ObjectiveID="+objectiveID,function(data, status){
                    var g = ($.parseJSON(data)).results;
                    var promises = [];

                    $.each( g, function( key, val ){
                        promises.push( $.get("/api/exercise.xml?ID="+val.ID) );
                    });
                    // now we have an array of promises.
                    //console.log(promises); //This is good
                    //when they are ALL done... iterate through and populate the html in order (render mathjax after)
                    $.when.apply(null, promises).always(function() {
                      // Afterwards, do this.
                        //console.log('all done');
                        $.each( promises, function( key, val ){
                            //console.log(val.responseText);
                            var xml = val.responseText;
                            var instr = $(xml).find("instruction").html();
                            var question = $(xml).find("question").html();
                            var ans = $(xml).find("solution").html();
                            var exID = $(xml).find("id").html();
                            var exNumber = $(xml).find("order").html();
                            $("#exerciseRoot").append(getExerciseHTML(exID,instr,question,ans,exNumber));
                           
                        });
                    });
                    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"exerciseRoot"]);
                    
                });

            }

            getObjectiveExercises(objectiveID);



        });

function SelectText(element) {
    var doc = document
        , text = doc.getElementById(element)
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

    </script>

</body>
</html>