<!DOCTYPE html>
<html>
<head>
    
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>eduNetSystems Preview</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Mathjax -->
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="http://rawgit.com/jasonday/printThis/master/printThis.js"></script>

    <link rel="stylesheet" href="/public/css/ens-contentSystem.css">

    <style type="text/css">
    body{
        font-size:large;
        line-height: 1.5;
        font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    }
    .font-size-small {
        font-size: small;
    }
    .font-size-medium {
        font-size: large;
    }
    .font-size-large {
        font-size: x-large;
    }
    .ens-example {
        border-radius: 5px;
        background: whitesmoke;
        padding: 10px; 
        border-color: darkgrey;
        border-style: solid;
        border-width: 1px;
    }
    .objective, .keytakeaways, .exercises {
        border-radius: 5px;
        background: whitesmoke;
        padding: 10px; 

    }
    .objective > strong, .keytakeaways > strong, .exercises > strong {
        color: firebrick;
    }
        .panel-heading a:not(.btn):after {
            font-family:'Glyphicons Halflings';
            content:"\e114";
            float: right;
            color: grey;
        }
        .panel-heading a.collapsed:after {
            content:"\e080";
        }
        .well > .form-group > .panel-group > .panel {
            color: black;
        }
    </style>


</head>
<body>
    <div class="container" id="ENScontent">
    <input id="JQ-ObjectiveID" type="hidden" value="{{.ID}}" readonly>

        <div class="pull-right">
            <div class="btn-group btn-group-xs" data-toggle="buttons-radio">
              <button id="font-size-small-btn" class="btn  "><span class="font-size-small glyphicon glyphicon-font"></span></button>
              <button id="font-size-medium-btn" class="btn "><span class="font-size-medium glyphicon glyphicon-font"></span></button>
              <button id="font-size-large-btn" class="btn"><span class="font-size-large glyphicon glyphicon-font"></span></button>
            </div>
        </div>
        <hr/>
        <div class="objective"><strong>Objective:</strong> {{.Title}}</div>
        
        <div class="text-justify">{{.Content}}</div>

        <hr/>
        <div class="keytakeaways"><strong>Key Takeaways:</strong></div>
        <div class="">{{.KeyTakeaways}}</div>
        <hr/>

        <div class="exercises"><strong>Exercises:</strong>
            <button id="toggle-all" class="btn btn-default btn-sm">Select All</button>
            <button id="print-selected" class="btn btn-default btn-sm">Print</button>
        </div>
        <p class="text-center"> </p> 
        <div id="exerciseRoot" class="panel-group" >Exercises go here.</div>
        <p class="text-center"> </p> 

        <div id="ObjectiveInfo">
            <span>Authors: {{.Author}} - </span>
            <span>Version: {{.Version}}</span>
        </div>
        <div id="printableExercises" class="hidden">Hi</div>
        <footer>© eduNetSystems.com</footer>
    </div>


    <script type="text/javascript">
        $(document).on('ready',function(){
            objectiveID = $("#JQ-ObjectiveID").val();



            $('#font-size-small-btn').click(function() {
                $('body').removeClass("font-size-large");
                $('body').removeClass("font-size-medium");
                $('body').addClass("font-size-small");
            });

            $('#font-size-medium-btn').click(function() {
                $('body').removeClass("font-size-large");
                $('body').removeClass("font-size-small");
                $('body').addClass("font-size-medium");
            });

            $('#font-size-large-btn').click(function() {
                $('body').removeClass("font-size-small");
                $('body').removeClass("font-size-medium");
                $('body').addClass("font-size-large");
            });
            //todo streamline this button
            $('#toggle-all').click(function() {
                if($(this).html()==="Select All"){
                    $('#exerciseRoot input[type="checkbox"]').prop('checked', true);
                    $(this).html('Deselect All');
                }else{
                    $('#exerciseRoot input[type="checkbox"]').prop('checked', false);
                    $(this).html('Select All');
                }
            });
            $('#print-selected').click(function(){
                var e = $('#exerciseRoot input[type="checkbox"]:checked');
                $.each( e, function( key, val ){
                    var id = $(val).attr('value');
                    $('#printableExercises').append('id'+id+'<br/>');

                    console.log($(val).attr('value'));
                });
                $('#printableExercises').printThis({
                        importCSS: false,      
                        importStyle: true,    
                        printContainer: true,     
                        pageTitle: "Printing!!",             
                        removeInline: false,    
                        printDelay: 150,    
                        header: null,        
                        formValues: true      
                });
                
            })
//exercise Work
            function getExerciseHTML(exerciseID,instruction,question,answer,number){
                var exerciseHTML ='\
                    <div class="panel panel-default" id="'+exerciseID+'">\
                        <div class="panel-heading">\
                            <a class="collapsed" data-toggle="collapse" data-target="#ex-'+exerciseID+'" href="#collapse1"></a>\
                            <span class="pull-right ans">Answer &nbsp</span>\
                            <strong>'+number+'. '+instruction+'</strong><br/> \
                            <span class="checkbox">\
                                <label> <input type="checkbox" value="'+exerciseID+'"/>'+question+'</label>\
                            </span>\
                        </div>\
                        <div id="ex-'+exerciseID+'" class="panel-collapse collapse">\
                            <div class="panel-body"><strong>Answer: </strong>\
                                '+answer+'\
                            </div>\
                        </div>\
                    </div>';
                
                return exerciseHTML;
            }
            // this almost works
            function getObjectiveExercises(objectiveID){
                $("#exerciseRoot").html('');

                $.get("/api/exercises.json?ObjectiveID="+objectiveID,function(data, status){
                    var g = ($.parseJSON(data)).results;
                    var promises = [];

                    $.each( g, function( key, val ){
                        promises.push( $.get("/api/exercise.xml?ID="+val.ID) );
                    });
                    // now we have an array of promises.
                    console.log(promises); //This is good
                    //when they are ALL done... iterate through and populate the html in order (render mathjax after)
                    $.when.apply(null, promises).always(function() {
                      // Afterwards, do this.
                        console.log('all done');
                        $.each( promises, function( key, val ){
                            //console.log(val.responseText);
                            var xml = val.responseText;
                            var instr = $(xml).find("instruction").html();
                            var question = $(xml).find("question").html();
                            var ans = $(xml).find("solution").html();
                            var exID = $(xml).find("id").html();
                            var exNumber = $(xml).find("order").html();
                            $("#exerciseRoot").append(getExerciseHTML(exID,instr,question,ans,exNumber));
                           
                        });
                    });
                    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"exerciseRoot"]);
                    
                });

            }

            getObjectiveExercises(objectiveID);

        });
    </script>

</body>
</html>