<!DOCTYPE html>
<html>
<head>
    
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>ENS Objective Reader</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Mathjax -->
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/2.6-latest/MathJax.js?config=TeX-AMS_HTML"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/css/ens-reader.css">
    <script type="text/javascript" src="/public/js/ens-reader.js"></script>
    <script type="text/javascript" src="/public/js/printThis.js"></script>

    <style>
        #menu{
            margin-top:2px;
            position:fixed;
            font-size: 14px !important;
            z-index:100;
        }
    </style>

</head>
<body>
   <div class="container bookPage">
   <!-- Menu Work TODO generalize -->
    <div id="menu" class="no-print" >
    <table class="table table-borderless">
    <tr><td>
        <div class="btn-group btn-group-sm" role="group">
            <button id="fontChange" type="button" class="btn btn-default" title="Font size." data-toggle="tooltip" data-placement="top" ><i class="fa fa-font" aria-hidden="true"></i>±</button>
            <button id="imageChange" type="button" class="btn btn-default" title="Image size." data-toggle="tooltip" data-placement="top" ><i class="fa fa-image" aria-hidden="true"></i></button>
            <button id="print" type="button" class="btn btn-default" title="Print." data-toggle="tooltip" data-placement="top" ><i class="fa fa-print" aria-hidden="true"></i></button>
        </div>
        <br/>
    </td></tr>
    <tr><td>
        <div class="btn-group btn-group-sm" role="group">
            <div id="submenu1" class="btn-group btn-group-sm hidden" role="group">
                <button id="increaseFont" type="button" class="btn btn-default" title="Increase" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button id="decreaseFont" type="button" class="btn btn-default" title="Decrease" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-minus" aria-hidden="true"></i></button>         
            </div>
            
            <div id="submenu2" class="btn-group btn-group-sm hidden" role="group">
                <button id="increaseImages" type="button" class="btn btn-default" title="Increase" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button id="decreaseImages" type="button" class="btn btn-default" title="Decrease" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-minus" aria-hidden="true"></i></button>         
            </div>            
    
        </div>
    </td></tr>
    </table>
    </div>
    <!-- End menu work -->

        <div id="objectiveContent" >Loading...</div>
<!--         <div id="objectiveInfo">
            <span id="author"> </span><br/>
            <span id="version"> </span><br/>
            <span>© content.eduNetSystems.com</span>
        </div> -->
        <div id="exerciseBlock">
            <div class="exercises ens-boxed"><span class="pageLabel">Exercises:</span>
                
                <div class="btn-group btn-group-sm pull-right no-print" role="group">
                    <button id="toggle-all" class="btn btn-default btn-sm">Select All</button>
                    <!-- <button id="share-exercises" class="btn btn-default btn-sm "><span class="glyphicon glyphicon-share" data-toggle="modal" data-target="#exercisesReaderModal"></span></button> -->
                    <button id="print-selected" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span></button>
                </div>
                
            </div>
     
            <p class="text-center"> </p> 
            <div id="exerciseRoot" class="panel-group" >Exercises go here.</div>
            <p class="text-center"> </p> 

            <div id="ExercisesInfo">
                <div>© eduNetSystems.com</div>
            </div>
        </div>
    </div>

    <div id="printableDiv" class="hidden"> </div>

    <script type="text/javascript">
        var loadingHTML = '<div class="text-center"><br/><p><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></p><br></div>';
        $(document).on('ready',function(){

            //$('[data-toggle="tooltip"]').tooltip();

            var objectiveID = getUrlParameter('ID');
            //do something if no id
            var content = getUrlParameter('Content');
            var keytakes = getUrlParameter('Keytakeaways');
            var exs = getUrlParameter('Exercises');
            var backgroundColor = getUrlParameter('Background');
            if(backgroundColor){
                $('body').css('background-color', backgroundColor);
            }else{
                $('body').css('background-color', 'oldLace');
            }
          
            $.get("/api/objective.html?ID="+objectiveID,function(data, status){

                    $('#objectiveContent').html(data);
                    $('.ENS-Title').prepend('<span class="pageLabel">Objective: </span>').addClass('ens-boxed');

                    if(content!=="true"){
                        $('.ENS-Content').hide();
                    }

                    if(keytakes==="true"){
                        $('.ENS-KeyTakeaways').prepend('<div class="ens-boxed"><span class="pageLabel">Key Takeaways: </span></div>');
                    }else{
                        $('.ENS-KeyTakeaways').hide();
                    }
                    
                    var t = $('#objectiveContent').find('.ENS-Title');
                    var v = $('#objectiveContent').find('.ENS-Version');
                    var a = $('#objectiveContent').find('.ENS-Author');
                    $('#author').html('Author: '+a.html());
                    $('#version').html('Version: '+v.html());
                    t.css('font-size','1.2em');
                    v.html('');
                    a.html('');
 
                    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            });

           //todo streamline this button
            $('#toggle-all').click(function() {
                console.log("hi")
                if($(this).html()==="Select All"){
                    $('#exerciseRoot input[type="checkbox"]').prop('checked', true);
                    $(this).html('Deselect All');
                }else{
                    $('#exerciseRoot input[type="checkbox"]').prop('checked', false);
                    $(this).html('Select All');
                }
            });

            $('#print-selected').click(function(){
                $('#printableDiv').html('<strong>Objective:</strong> '+$('#objective-title').html()+'<br/>Exercises:<br/><br/>');
                var c = $('#exerciseRoot input[type="checkbox"]:checked');
                $.each( c, function( key, val ){
                    var id = $(val).attr('value');
                    var n = $('#'+id).find('.num').html();
                    var q = $('#'+id).find('.question').html();
                    var i = $('#'+id).find('.instr').html();
                    $('#printableDiv').append('#'+n+' '+i +'<br/>'+q+'<br/><br/>');

                    //console.log($(val).attr('value'));
                });
                $('#printableDiv').printThis({
                        importCSS: false,      
                        importStyle: true,    
                        printContainer: true,     
                        pageTitle: "ENS Content System",             
                        removeInline: false,    
                        printDelay: 2000,    
                        header: null,        
                        formValues: true,
                        loadCSS: "/public/css/ens-print.css",     
                });

            });

            
//exercise Work
            function getExerciseHTML(exerciseID,instruction,question,answer,number){
                var exerciseHTML ='\
                    <div class="panel panel-default" id="'+exerciseID+'">\
                        <div class="panel-heading">\
                            <a class="collapsed" data-toggle="collapse" data-target="#ex-'+exerciseID+'" ></a>\
                            <span class="pull-right ans">Answer &nbsp</span>\
                            <strong><span class="num">'+number+'.</span> <span class="instr">'+instruction+'</span></strong><br/> \
                            <span class="checkbox">\
                                <label> <input type="checkbox" value="'+exerciseID+'"/><span class="question"'+question+'</span></label>\
                            </span>\
                        </div>\
                        <div id="ex-'+exerciseID+'" class="panel-collapse collapse">\
                            <div class="panel-body"><strong>Answer: </strong>\
                                '+answer+'\
                            </div>\
                        </div>\
                    </div>';
                
                return exerciseHTML;
            }
            // this almost works
            function getObjectiveExercises(objectiveID){
                $("#exerciseRoot").html(loadingHTML);

                $.get("/api/exercises.json?ObjectiveID="+objectiveID,function(data, status){
                    var g = ($.parseJSON(data)).results;
                    var promises = [];

                    $.each( g, function( key, val ){
                        promises.push( $.get("/api/exercise.xml?ID="+val.ID) );
                    });
                    // now we have an array of promises.
                    //console.log(promises); //This is good
                    //when they are ALL done... iterate through and populate the html in order (render mathjax after)
                    $.when.apply(null, promises).always(function() {
                        $("#exerciseRoot").html('');
                      // Afterwards, do this.
                        //console.log('all done');
                        $.each( promises, function( key, val ){
                            //console.log(val.responseText);
                            var xml = val.responseText;
                            var instr = $(xml).find("instruction").html();
                            var question = $(xml).find("question").html();
                            var ans = $(xml).find("answer").html();
                            var exID = $(xml).find("id").html();
                            var exNumber = $(xml).find("order").html();
                            $("#exerciseRoot").append(getExerciseHTML(exID,instr,question,ans,exNumber));
                            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"'+exID+'"]);
                           
                        });
                    });
                   // MathJax.Hub.Queue(["Typeset",MathJax.Hub,"exerciseRoot"]);
                    
                });

            }

            if(exs==="true")
                getObjectiveExercises(objectiveID);
            else
                $('#exerciseBlock').hide();



        });

        //Utility methods
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
    </script>

</body>
</html>