<!DOCTYPE html>
<html>
<head>
    {{template "Head" "Register"}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        background-color: #233B3B;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-bottom: 2vh;
    }
    .reg {

        width: 75%;
    }
    input[fill] {
        position: relative;
        width: 100%;
    }
</style>
</head>
<body>
{{template "Nav" .}}
<!-- <header>
    <h1>Register!</h1>
</header> -->
<div class="container reg"><content>

    <form class="form-inline" method="POST" role="form">

        <p>Register:</p>
        <input class="form-control" fill type="email" placeholder="Email" name="Email" value="{{.Email}}" readonly />
        <input class="form-control" fill type="text" placeholder="Name" name="Name" value="{{.Name}}" />
        <div class="form-group">
            <select class="form-control" name="Level" {{if (ne .Permission 0) }}disabled{{end}}>
                <option value="na" selected>
                    {{if (ne .Permission 0) }}Preset by Invite{{else}}SELECT ONE{{end}}
                </option>
                <option value="reader">Reader</option>
                <option value="writer">Creator</option>
            </select>
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </form>
</content></div>
   {{template "Footer"}}
</body>
</html>