<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<form method="POST">
    <input type="email" placeholder="Email" name="Email" value="{{.Email}}" {{if .Email}}readonly{{end}} />
    <input type="text" placeholder="Name" name="Name" value="{{.Name}}" />
    <input type="password" placeholder="Password" name="Password" />
    <input type="submit" value="Register" />
</form>

<form method="GET">
    <input type="text" style="display: none;" name="Oauth" value="now"></input>
    <input type="submit" value="Login With Gmail?" />
</form>

<div style="border: 1px solid black; margin-top: 20px;">
{{.}}
</div>

</body>
</html>