<!DOCTYPE html>
<html>
<head>
    <title></title>
<script type="text/javascript">
    function getQueryVariable(variable){
        // Source: https://css-tricks.com/snippets/javascript/get-url-variables/
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    window.onload = (function () {
        var msgP = document.querySelector('#JS-MessageZone');
        var ifCall = getQueryVariable("status");
        if (!ifCall) {return;}

        if (ifCall == "success") {
            msgP.textContent = 'Image Successfully Uploaded';
            return
        }

        msgP.textContent = 'There was an error in uploading your image';
    })();
</script>
</head>
<body>
<h1>Upload Image</h1>
<p id="JS-MessageZone"></p>
<form id="JS-ImageUpload" method="POST" enctype="multipart/form-data" action="/api/makeImage?oid={{.}}">
    <input type="file" name="upload">
    <input type="submit">
</form>
</body>
</html>