<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


    <script type="text/JavaScript">
        // JQuery calls here to
        $(document).ready(function(){
            
            $("#JQ-Catalog-Selection").on("init",function(){
                $.get("/api/catalogs.json",function(data,status){
                    j = $.parseJSON(data);
                    console.log(j);
                    $("#JQ-Catalog-Selection").html('');
                    $("#JQ-Catalog-Selection").append( new Option("Select A Catalog","") )

                    $(".hideable").hide()
                    $(".hideable").val("")
                    $("#JQ-Catalog-Input").show()
                    
                    $.each( j.results, function( key, val ){
                        $("#JQ-Catalog-Selection").append( new Option(val.Name,val.ID) )
                    });
                });
            });
            $("#JQ-Catalog-Selection").trigger("init")

            $("#JQ-Catalog-Selection").change(function(){
                console.log("Updating Books: "+$(this).val())
                
                $(".hideable").hide()
                $(".hideable").val("")
                $("#JQ-Catalog-Input").show()

                $("#JQ-Book-Selection").html('');
                $("#JQ-Chapter-Selection").html('');
                $("#JQ-Section-Selection").html('');
                $("#JQ-Objective-Selection").html('');
                if ($(this).val() != ""){
                    
                    $(".hideable").hide()
                    $(".hideable").val("")
                    $("#JQ-Book-Input").show()

                    $("#JQ-Book-Selection").append( new Option("New Book","") )
                    $.get("/api/books.json?Catalog="+$(this).val(),function(data, status){
                        j = $.parseJSON(data);
                        console.log(j);
                        $.each( j.results, function( key, val ){
                            $("#JQ-Book-Selection").append( new Option(val.Title,val.ID) )
                            // console.log(val.Name,val.ID)
                        });
                    });
                }
            });

            $("#JQ-Book-Selection").change(function(){
                console.log("Updating Section "+$(this).val())
                
                $(".hideable").hide()
                $(".hideable").val("")
                $("#JQ-Book-Input").show()

                $("#JQ-Chapter-Selection").html('');
                $("#JQ-Section-Selection").html('');
                $("#JQ-Objective-Selection").html('');
                if ($(this).val() != ""){
                    
                    $(".hideable").hide()
                    $(".hideable").val("")
                    $("#JQ-Chapter-Input").show()

                    $("#JQ-Chapter-Selection").append( new Option("New Chapter","") )
                    $.get("/api/chapters.json?BookID="+$(this).val(),function(data, status){
                        j = $.parseJSON(data);
                        console.log(j);
                        $.each( j.results, function( key, val ){
                            $("#JQ-Chapter-Selection").append( new Option(val.Title,val.ID) )
                            // console.log(val.Name,val.ID)
                        });
                    });
                }
            });

            $("#JQ-Chapter-Selection").change(function(){
                console.log($(this).val())
                
                $(".hideable").hide()
                $(".hideable").val("")
                $("#JQ-Chapter-Input").show()

                $("#JQ-Section-Selection").html('');
                $("#JQ-Objective-Selection").html('');
                if ($(this).val() != ""){
                    
                    $(".hideable").hide()
                    $(".hideable").val("")
                    $("#JQ-Section-Input").show()

                    $("#JQ-Section-Selection").append( new Option("New Section","") )
                    $.get("/api/sections.json?ChapterID="+$(this).val(),function(data, status){
                        j = $.parseJSON(data);
                        // console.log(j);
                        $.each( j.results, function( key, val ){
                            $("#JQ-Section-Selection").append( new Option(val.Title,val.ID) )
                            // console.log(val.Name,val.ID)
                        });
                    });
                }
            });

            $("#JQ-Section-Selection").change(function(){
                console.log($(this).val())
                
                $(".hideable").hide()
                $(".hideable").val("")
                $("#JQ-Section-Input").show()

                $("#JQ-Objective-Selection").html('');
                if ($(this).val() != ""){
                    
                    $(".hideable").hide()
                    $(".hideable").val("")
                    $("#JQ-Objective-Input").show()

                    $("#JQ-Objective-Selection").append( new Option("New Objective","") )
                    $.get("/api/objectives.json?SectionID="+$(this).val(),function(data, status){
                        j = $.parseJSON(data);
                        // console.log(j);
                        $.each( j.results, function( key, val ){
                            $("#JQ-Objective-Selection").append( new Option(val.Title,val.ID) )
                            // console.log(val.Name,val.ID)
                        });
                    });
                }
            });

            $("#JQ-Objective-Selection").change(function(){
                console.log($(this).val())
                
                $(".hideable").hide()
                $(".hideable").val("")
                $("#JQ-Objective-Input").show()

                if ($(this).val() != ""){
                    
                    $(".hideable").hide()
                    $(".hideable").val("")
                }
            });


            $(".clickWatch").click(function(){
                // if told to watch for a click, do this on click.
                cat = $("#JQ-Catalog-Selection").val()
                book = $("#JQ-Book-Selection").val()
                chap = $("#JQ-Chapter-Selection").val()
                sect = $("#JQ-Section-Selection").val()
                obje = $("#JQ-Objective-Selection").val()

                if (cat != ""){
                    if (book != ""){
                        if (chap != ""){
                            if (sect != ""){
                                if (obje != ""){
                                    // All ID's have been selected!
                                    console.log("User wishes to read:")
                                    console.log(cat+" - "+book+" - "+chap+" - "+sect+" - "+obje)
                                    nextURL = "/edit?ID="+obje
                                    console.log("Next URL is "+nextURL)
                                    window.location.assign(nextURL);
                                } else {
                                    // New Objective
                                    console.log("User wishes to make Objective:")
                                    newObjeName = $("#JQ-Objective-Input").val()
                                    console.log("POSTING: "+newObjeName)
                                    $.post("/api/makeObjective",{SectionID:sect,ObjectiveName:newObjeName},function(data){
                                        j = $.parseJSON(data);
                                        console.log(j.result +":"+ j.reason)
                                    });

                                    $.wait(function(){$("#JQ-Section-Selection").change()},1);
                                }
                            } else {
                                // New Section
                                console.log("User wishes to make Section:")
                                newSectName = $("#JQ-Section-Input").val()
                                console.log("POSTING: "+newSectName)
                                $.post("/api/makeSection",{ChapterID:chap,SectionName:newSectName},function(data){
                                    j = $.parseJSON(data);
                                    console.log(j.result +":"+ j.reason)
                                });

                                $.wait(function(){$("#JQ-Chapter-Selection").change()},1);
                            }
                        } else {
                            // New Chapter
                            console.log("User wishes to make Chapter:")

                            newChaptName = $("#JQ-Chapter-Input").val()
                            console.log("POSTING: "+newChaptName)
                            $.post("/api/makeChapter",{BookID:book,ChapterName:newChaptName},function(data){
                                j = $.parseJSON(data);
                                console.log(j.result +":"+ j.reason)
                            });

                            $.wait(function(){$("#JQ-Book-Selection").change()},1);
                        }
                    } else {
                        // New Book
                        console.log("User wishes to make Book:")
                        newBookName = $("#JQ-Book-Input").val()
                        console.log("POSTING: "+newBookName)
                        $.post("/api/makeBook",{CatalogName:cat,BookName:newBookName},function(data){
                            j = $.parseJSON(data);
                            console.log(j.result +":"+ j.reason)
                        });
                        $.wait(function(){$("#JQ-Catalog-Selection").change()},1);
                    }
                } else {
                    // New Catalog
                    console.log("User wishes to make Catalog:")
                    newCatName = $("#JQ-Catalog-Input").val()
                    console.log("POSTING: "+newCatName)
                    $.post("/api/makeCatalog",{CatalogName:newCatName},function(data){
                        j = $.parseJSON(data);
                        console.log(j.result +":"+ j.reason)
                    });
                    $.wait(function(){$("#JQ-Catalog-Selection").trigger("init")},1);
                }

            });
            $(".enterWatch").keypress(function(e){ // Also seek enter presses when told to watch for them.
                enterKey = 13
                if (e.which == enterKey){
                    $(".clickWatch").click();
                }
            });

            $.wait = function( callback, seconds){
               return window.setTimeout( callback, seconds * 1000 );
            }

        });
    </script>
</head>
<body>
    <section>Catalog: <select id="JQ-Catalog-Selection"></select> <input id="JQ-Catalog-Input" style="display: none;" class="hideable enterWatch" /></section><br />
    <section>Book: <select id="JQ-Book-Selection"></select> <input id="JQ-Book-Input" style="display: none;" class="hideable enterWatch" /></section><br />
    <section>Chapter: <select id="JQ-Chapter-Selection"></select> <input id="JQ-Chapter-Input" style="display: none;" class="hideable enterWatch" /></section><br />
    <section>Section: <select id="JQ-Section-Selection"></select> <input id="JQ-Section-Input" style="display: none;" class="hideable enterWatch" /></section><br />
    <section>Objective: <select id="JQ-Objective-Selection"></select> <input id="JQ-Objective-Input" style="display: none;" class="hideable enterWatch" /></section><br />
    
    <button id="JQ-Edit-Button" class="clickWatch">Edit</button>
    <br />
    <input id="JQ-Status" readonly></input>
</body>
</html>