<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<style type="text/css">
        html {
          position: relative;
          min-height: 100%;
        }
        body{
            font-size:large;
            line-height: 1.5;
            font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        .navbar { 
            background: darkslategray;
            /*box-shadow: 0px 5px 3px -3px #888;*/
        }

        .navbar-default .navbar-brand,
        .navbar-default .navbar-nav > li > a {
            color: white;
        }
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-nav > li > a:hover {
            color: oldlace;
        }

        
        footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
        }
        .well {
            background: darkslategray;
            color: white;
        }
        .books{
            width:98%;
            margin-left: auto;
            margin-right: auto;
        }
        .books a{
            color: darkslateblue;
        }


    .list-group {
        padding: 0;
        overflow: hidden;
    }

    .list-group .list-group-item {
        border-radius: 5px;
        border-width: 1px 0 0 0;
    }

    .list-group-root > .list-group-item:first-child {
        border-top-width: 0;
    }

    .list-group-root > .list-group > .list-group-item {
        padding-left: 30px;
    }

    .list-group-root > .list-group > .list-group > .list-group-item {
        padding-left: 45px;
    }

    .list-group-item .glyphicon {
        margin-right: 5px;
    }
    .list-group-item-heading{
        padding:5px;
    }
    
</style>
</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img class="pull-left" src="/public/images/eduNetSystems-logo-inv.png"/> 
            <strong> &nbsp eduNetSystems Content System</strong></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/catalogs">Catalogs</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {{if .Email}}
            <li><a href="/login?changeuser=yes"><span class="glyphicon glyphicon-log-in"></span> Not {{.Name}}?</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {{else}}
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {{end}}
        </ul>
      </div>
    </nav>

    <div class="container">

        <div id="bookHeader" class="well">
            <div class="btn-group btn-group-sm pull-right" role="group">
                <button id="editBookBtn" class="btn btn-success" data-toggle="modal" data-target="#bookEditModal" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
                <button id="deleteBookBtn" class="btn btn-danger " data-toggle="modal" data-target="#bookDeleteModal" type="button"><span class="glyphicon glyphicon-remove"></span> </button>
            </div>
            <div id="bookTitle" class="">Loading...</div>
            <div id="bookAuthor" class=""></div>
            <div id="bookID" class=""> </div>
        </div>


        <div class="list-group  well">
            <div class="list-group-item-heading" id="bookHeading">Chapters Loading... <i class="glyphicon glyphicon-download"> </i> </div>
            <div class="list-group-root"></div>
        </div>
    </div>

    <footer class="text-center">
        <div class="well">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div>© 2016 <a href="http://www.edunetsystems.com/">eduNetSystems.com</a></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>


    <!-- Edit Book Modal *******************-->
      <div class="modal fade" id="bookEditModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Edit Book Information</h2>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">You can edit the book information here.</h4>
                <br/>
                <input id="editBookName" class="form-control" placeholder="book tile"/>
                <input id="editBookAuthor" class="form-control" placeholder="author"/>
                <p id="editBookID"></p>              
            </div>
            <div class="modal-footer">
              <button id="bookInfoSave" type="button" class="btn btn-danger" data-dismiss="modal">Save</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    <!-- END Edit Book Modal ******************-->

<script type="text/javascript">
    var incomingID = "{{.ID}}";
    console.log({{.}})
    

    $(document).ready(function(){
        if (incomingID == "") {return ;}
        localStorage.clear();
        getBookInfo(incomingID);

        $('#editBookBtn').on('click',function(){ 
            $('#editBookName').val(localStorage.bookTitle);
            $('#editBookAuthor').val(localStorage.bookAuthor);
            $('#editBookID').html('Book ID='+localStorage.bookID);

            $('#bookInfoSave').one('click',function(){
                var x = $('#editBookName').val();
                var y = $('#editBookAuthor').val();
                saveBookInfo(x,y);
            });
        });

        populateBook(incomingID);

    });

    function getBookInfo(bookID){
        $.get("/api/book.xml?ID="+bookID,function(xml){
            //console.log(xml);
            localStorage.bookTitle = $(xml).find("title").text();
            localStorage.bookAuthor = $(xml).find("author").text();
            localStorage.bookID = bookID;

            $('#bookTitle').html('Book: '+localStorage.bookTitle);
            $('#bookAuthor').html('Author: '+localStorage.bookAuthor);
            $('#bookID').html('ID='+localStorage.bookID);
        });
    }
    function saveBookInfo(bookName,bookAuths){
        $.post("/api/makeBook",{ID:localStorage.bookID,BookName:bookName, Author:bookAuths},function(data){
            g = $.parseJSON(data);
            console.log(g.result +":"+ g.reason);
            getBookInfo(localStorage.bookID);
            
        });
    }


    // methods
    function populateBook(bookID){
        $.get("/toc?ID="+bookID,function(xml){
            booktitle = $(xml).find("booktitle").text();
            bookid = $(xml).find("bookid").text();
            catalog = $(xml).find("catalog").text();

            $('#myBookID').html('<h2>Book: '+booktitle+'</h2>');


            $(xml).find('chapter').each(function(){ // each chapter of book
                singleChapterID = $(this).find("chapterid").text()
                singleChapterName = $(this).find("chaptertitle").text();

                //Bootstrap CHAPTER work *******************************
                var htmlBlock = '<a href="#'+singleChapterID+'" class="list-group-item" data-toggle="collapse">\
                                <i class="glyphicon glyphicon-chevron-right"></i>'+singleChapterName+'</a>\
                            <div class="list-group collapse chapterClass" id="'+singleChapterID+'"></div>';

                $('.list-group-root').append(htmlBlock);
                //this is xml associated with chapter
                populateChapters(this);

            });

            $('#bookHeading').html('Chapters');
            

            //add chapter button at end of root list  *********************
            var addChapBlock = '<div class="input-group">\
                    <input id="newChapInput" type="text" class="form-control" placeholder="Add chapter."/>\
                    <span class="input-group-btn">\
                        <button class="btn btn-primary" type="button" id="addChapter">Add Chapter</button>\
                    </span>\
                    </div>';

            $('.list-group-root').append('<div class="list-group-item">'+addChapBlock+'</div>');

            $('#addChapter').on('click',function(){

                var newChaptName = $('#newChapInput').val();
                $.post("/api/makeChapter",{BookID:bookid,ChapterName:newChaptName},function(data){
                    j = $.parseJSON(data);
                    console.log(j.result +":"+ j.reason);

                        $('.list-group-root').fadeOut(500,function(){
                            $(this).html('');
                            populateBook(bookID);
                        });
                        $('.list-group-root').fadeIn(500);
 
                });

            });
            //*********************************************


            // toggle chevrons
            $('.list-group-item').on('click', function() {
                
                $('.glyphicon', this)
                    .toggleClass('glyphicon-chevron-right')
                    .toggleClass('glyphicon-chevron-down');
            });


        });        


    };

    function populateChapters(xml){
        var sectionXML;
        $(xml).find("section").each(function(){ // sections of each chapter
                    singleSectionID = $(this).find("sectionid").text()
                    singleSectionName = $(this).find("sectiontitle").text()

                    //Bootstrap SECTION work **************************************
                    var htmlBlock2 = '<a href="#'+singleSectionID+'" class="list-group-item " data-toggle="collapse">\
                              <i class="glyphicon glyphicon-chevron-right"></i>'+singleSectionName+'\
                            </a>\
                            <div class="list-group collapse sectionClass" id="'+singleSectionID+'">\
                            </div>';

                    $('#'+singleChapterID).append(htmlBlock2);
                    sectionXML = this;
                    //this is xml associated with section
                    populateSections(this);

                });

                //add section button at end of level 1 list  *********************
                var addSectBlock = '<div class="input-group">\
                        <input type="text" class="form-control" placeholder="Add section."/>\
                        <span class="input-group-btn">\
                            <button class="btn btn-success" type="button">Add Section</button>\
                        </span>\
                        </div>';

                $('#'+singleChapterID).append('<div class="list-group-item">'+addSectBlock+'</div>');

                
                $('#'+singleChapterID+' .btn-success').on('click',function(){
                    var newSectName =  $(this).closest('div').find('input').val(); //hackery i'll tell you!
                    var chap = $(this).closest('.chapterClass').attr('id');
                    //console.log(sectionXML);

                    $.post("/api/makeSection",{ChapterID:chap,SectionName:newSectName},function(data){
                       j = $.parseJSON(data);
                       console.log(j.result +":"+ j.reason);
                       //$('#'+chap).html('Loading...');
                       populateBook(xml);

                    });
                    
                   
        });

    };

    function populateSections(xml){
        $(xml).find("objective").each(function(){ // objectives of the section
                        singleObjectiveID = $(this).find("objectiveid").text()
                        singleObjectiveName = $(this).find("objectivetitle").text();

                        //Bootstrap OBJECTIVE Work ************************************
                        var htmlBlock3 = '<div class="list-group-item"> \
                                            <a href="/preview?ID='+singleObjectiveID+'"  id="'+singleObjectiveID+'">'+singleObjectiveName+'</a>\
                                            <a href="/edit?ID='+singleObjectiveID+'"  class="btn btn-xs btn-info" role="button">Edit</a> \
                                        </div>';

                        $('#'+singleSectionID).append(htmlBlock3);
                        //*****************************************************

                    });

                    //add objective button at end of level 1 list  *********************
                    var addObjBlock = '<div class="input-group">\
                            <input type="text" class="form-control" placeholder="Add objective."/>\
                            <span class="input-group-btn">\
                                <button class="btn btn-warning" type="button">Add Objective</button>\
                            </span>\
                            </div>';

                    $('#'+singleSectionID).append('<div class="list-group-item">'+addObjBlock+'</div>');

                    $('#'+singleSectionID+' .btn-warning').on('click',function(){
                        var newObjName =  $(this).closest('div').find('input').val(); //hackery i'll tell you!
                        var sect = $(this).closest('.sectionClass').attr('id');

                        $.post("/api/makeObjective",{SectionID:sect,ObjectiveName:newObjName},function(data){
                                j = $.parseJSON(data);
                                console.log(j.result +":"+ j.reason);
                                location.reload();
                        });
                       
        });        
    };



</script>



</body>
</html>