<!DOCTYPE html>
<html lang="en">
{{template "Head"}}

<body>
{{template "Nav" .}}

    <div class="container">

        <div id="bookHeader" class="well">
        {{if eq .Permission 3}}
            <div class="btn-group btn-group-sm pull-right" role="group">
                <button id="editBookBtn" class="btn btn-success" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
                <button id="deleteBookBtn" class="btn btn-danger " data-toggle="modal" data-target="#bookDeleteModal" type="button"><span class="glyphicon glyphicon-remove"></span> </button>
            </div>
        {{end}}
            <div id="bookTitle" class="">Loading...</div>
            <p>
                <span id="bookAuthor" class=""></span>
                <span id="bookVersion" class=""></span>        
            </p>
            <div id="bookDescription"></div>
            <!--<div id="bookID" class=""></div>-->
        </div>

        <div id="bookChapters" class="list-group well">
            <div class="list-group-item-heading">
                <button id="refreshChapters" class="btn btn-xs btn-default pull-right" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
                <div class="text-center" id="chapterHeading">Chapters Loading... <i class="glyphicon glyphicon-download"> </i> </div>
            </div>
            <div class="list-group-root"></div>
        </div>

    </div>

    {{template "Footer"}}

    <!-- Edit Book Modal *******************-->
      <div class="modal fade" id="bookEditModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Edit Item</h2>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">You can edit the book information here.</h4>
                <br/>
                <p><span id="editGenType"></span></p>
                <input id="editGenName" class="form-control" placeholder="Title"/>
                <input id="editGenAuthor" class="form-control" placeholder="Author"/>
                <p><span>ID: </span><span id="editGenID"></span></p>           
            </div>
            <div class="modal-footer">
              <button id="genInfoSave" type="button" class="btn btn-danger" data-dismiss="modal">Save</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    <!-- END Edit Book Modal ******************-->
    <!-- Delete Book Modal *******************-->
      <div class="modal fade" id="bookDeleteModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Delete Item</h2>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">All dependent items will be deleted, including objectives. Are you sure you wish to delete this item?</h4>
                <br/>
                <p><span id="genDeleteType">Book: </span><span id="genDeleteName"></span></p>
                <p><span>ID: </span><span id="genDeleteID"></span></p> 
                <div class="input-group">
                    <label class="input-group-addon">Answer:</label>
                    <input type="text" class="form-control" id="verify" placeholder="To delete type yes."/>
                </div>          
            </div>
            <div class="modal-footer">
              <button id="genModalDeleteBtn" type="button" class="btn btn-danger" data-dismiss="modal">Delete Item</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    <!-- END Delete Cat Modal ******************-->

<script type="text/javascript">
    var incomingID = "{{.ID}}";
    //console.log({{.}})
    
    $(document).ready(function(){
        if (incomingID == "") {return ;}
        localStorage.clear();
        getBookInfo(incomingID);

        // buttons not available to unauthorized users
        $('#editBookBtn').on('click',function(){ 
            window.location = '/edit/Book/'+localStorage.bookID;
        });
        $('#deleteBookBtn').on('click',function(){ 
            $('#genDeleteName').html(localStorage.bookTitle);
            $('#genDeleteID').html(localStorage.bookID);
            $('#genDeleteType').html('Book: ');
            //gen listeners takes care of this case from here in modal.
        });
        $('#refreshChapters').on('click',function(){ 
            $('.list-group-root').html('<p> </p>');
            //Pause Solution here :(  Need to bind an on done or something.
            getBookChapters(incomingID);
        });
        //init page
        $('#refreshChapters').trigger('click');
        //edit modal save button
        $('#genInfoSave').on('click',function(){
                var genName = $('#editGenName').val();
                var genAuths = $('#editGenAuthor').val();
                var choice = $('#editGenType').html();
                var tempID = $('#editGenID').html();
                switch(choice[0]){
                    case 'B':  //book info edit button
                        $.post("/api/create/book",{ID:tempID,BookName:genName, Author:genAuths},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            getBookInfo(localStorage.bookID);
                        });
                        break
                    case 'C':
                        $.post("/api/create/chapter",{ID:tempID,ChapterName:genName},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            $('#refreshChapters').trigger('click');
                            
                        });
                        break;
                    case 'S':
                        $('#cat-'+tempID).html('loading...');
                        $.post("/api/create/section",{ID:tempID,SectionName:genName},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            $('#refreshChapters').trigger('click');
                        });
                        break;
                    default:
                }
        });
        $('#genModalDeleteBtn').on('click',function(){
            var choice = $('#genDeleteType').html();
            var tempID = $('#genDeleteID').html();
            var ans = $('#verify').val();
            if(ans==="yes"){
                switch(choice[0]){
                    case 'B':
                        $.post("/api/delete/book",{ID:tempID},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            //$('#cats')[0].click(); //redirect to catalogs
                            window.location = '/catalogs/';
                        });
                    case 'C': //deleteing chapters
                        $.post("/api/delete/chapter",{ID:tempID},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            $('.list-group-root').html('<a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>');
                            //gotta wait for the datastore here
                            setTimeout(function(){
                                $('#refreshChapters').click();
                            },1500);
                        });
                        break;
                    case 'S': //deleting sections
                        $.post("/api/delete/section",{ID:tempID},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            $('#cat-'+tempID).html('<a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>');
                            //gotta wait for the datastore here
                            setTimeout(function(){
                                $('#refreshChapters').click();
                            },1500);
                        });
                        break;
                    default:
                }
                var ans = $('#verify').val('');

            }

        });

    });

    function getBookInfo(bookID){
        $.get("/api/book.xml?ID="+bookID,function(xml){
            localStorage.bookTitle = $(xml).find("title").text();
            localStorage.bookAuthor = $(xml).find("author").text();
            localStorage.bookDescription = $(xml).find("description").text();
            localStorage.bookVer = $(xml).find("version").text();
            localStorage.bookID = bookID;

            $('#bookTitle').html('Book: '+localStorage.bookTitle);
            $('#bookAuthor').html('Author: '+localStorage.bookAuthor);
            $('#bookDescription').html(localStorage.bookDescription);
            $('#bookVersion').html(' Ver: '+localStorage.bookVer);
        });
    }
    function getBookChapters(bookID){
        $.get("/api/chapters.json?BookID="+bookID,function(data, status){
            localStorage.chapters = JSON.stringify( ($.parseJSON(data)).results );   
            populateChapters();
        });
    }
    function getBookSections(chapterID){
        $.get("/api/sections.json?ChapterID="+chapterID,function(data, status){
            localStorage.setItem('sectionsFor'+chapterID, JSON.stringify( ($.parseJSON(data)).results ));  
            populateSections(chapterID);
        });
    }
    function getBookObjectives(sectionID){
        $.get("/api/objectives.json?SectionID="+sectionID,function(data, status){
            localStorage.setItem('objectivesFor'+sectionID, JSON.stringify( ($.parseJSON(data)).results ));  
            populateObjectives(sectionID);
        });
    }

    function populateChapters(){
            //grab catalogs from local storage rather than api call
            j = JSON.parse(localStorage.chapters);
            $('.list-group-root').html('');

            $.each( j, function( key, val ){
                //populate the root with the list group items
                var HTMLblock = generalListGroupItem(val.ID, val.Title, val.Order);
                $('.list-group-root').append( HTMLblock );
                setGeneralListGroupItemListeners(val.ID,val.Title,'Chapter: ');
                //be one step ahead
                getBookSections(val.ID);
            });

            $('#chapterHeading').html('Chapters');

            //add Catalog button at end of level 1 list  *********************
            {{if eq .Permission 3}}
            var addChapterBlock = '\
                                <div class="list-group-item">\
                                    <div class="input-group">\
                                        <input id="chapterInput" type="text" class="form-control" placeholder="Add Chapter."/>\
                                        <span class="input-group-btn">\
                                            <button id="chapterBtn" class="btn btn-primary" type="button">New Chapter</button>\
                                        </span>\
                                    </div>\
                                </div>\
                                <p class="text-center"></p>\
                                ';
            
            {{else}}
            var addChapterBlock = '<p class="text-center"> </p>';
            {{end}}

            $('.list-group-root').append(addChapterBlock);
            
            //Adding a new catalog here
            $('#chapterInput').on('keyup',function(e){
                if(e.keyCode==13){
                    $('#chapterBtn').trigger('click');
                }
            });
            //Adding a new catalog here
            $('#chapterBtn').on('click',function(){
                var newChap =  $('#chapterInput').val();
                newChap = newChap.replace(/^\s+|\s+$/g, "").replace(/\s+/g, " "); // regex to replace space in middle
                $.post("/api/create/chapter",{BookID:localStorage.bookID,ChapterName:newChap,Order:0},function(data){
                    g = $.parseJSON(data);
                    console.log(g.result +":"+ g.reason+":"+ g.object.Title);
                    $('.list-group-root').html('<a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>');
                    // first wait for datastore
                    setTimeout(function (){
                        getBookChapters(localStorage.bookID);
                    }, 1500);
                });
                
            });
    }
     function populateSections(chapterID){
            //grab catalogs from local storage rather than api call
            j = JSON.parse(localStorage.getItem('sectionsFor'+chapterID));
            $('#cat-'+chapterID).html('');
            
            $.each( j, function( key, val ){
                //populate the root with the list group items
                var HTMLblock = generalListGroupItem(val.ID,val.Title,val.Order);
                $('#cat-'+chapterID).append( HTMLblock );
                setGeneralListGroupItemListeners(val.ID,val.Title,'Section: ');
                //be one step ahead
                getBookObjectives(val.ID);
            });

            //add Catalog button at end of level 1 list  *********************
        {{if eq .Permission 3}}
            var addSectionBlock = '\
                                <div class="list-group-item">\
                                    <div class="input-group">\
                                        <input id="sectionInput-'+chapterID+'" type="text" class="form-control" placeholder="Add Section."/>\
                                        <span class="input-group-btn">\
                                            <button id="sectionBtn-'+chapterID+'" class="btn btn-warning" type="button">New Section</button>\
                                        </span>\
                                    </div>\
                                </div>\
                                <p class="text-center"> </p>\
                                ';
            
        {{else}}
            var addSectionBlock = '<p class="text-center"> </p>';
        {{end}}

            $('#cat-'+chapterID).append(addSectionBlock);
            
            //Adding a new catalog here
            $('#sectionInput-'+chapterID).on('keyup',function(e){
                if(e.keyCode==13){
                    $('#sectionBtn-'+chapterID).trigger('click');
                }
            });
            //Adding a new catalog here
            $('#sectionBtn-'+chapterID).on('click',function(){
                var newSectionName =  $('#sectionInput-'+chapterID).val();
                //console.log('new sect')
                newSectionName = newSectionName.replace(/^\s+|\s+$/g, "").replace(/\s+/g, " "); // regex to replace space in middle

                $('#cat-'+chapterID).html('<a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>');
                $.post("/api/create/section",{ChapterID:chapterID,SectionName:newSectionName,Order:0},function(data){
                    g = $.parseJSON(data);
                    console.log(g.result +":"+ g.reason);
                    //second place to wait for datastore
                    setTimeout(function (){
                        getBookSections(chapterID);
                    }, 1500);
                });
            });
    } 
    function populateObjectives(sectionID){
            j = JSON.parse(localStorage.getItem('objectivesFor'+sectionID));
            $('#cat-'+sectionID).html('');
            
            $.each( j, function( key, val ){
                //populate the root with the list group items
        {{if eq .Permission 3}}
                var HTMLblock = '<div class="list-group-item"> \
                                            <a href="/preview?ID='+val.ID+'"  id="'+val.ID+'" target="_blank"><i class="glyphicon glyphicon-new-window"></i>'+val.Order+'. '+val.Title+'</a>\
                                            <a href="/edit/objective/'+val.ID+'"  class="btn btn-xs btn-info" role="button" target="">Edit</a> \
                                        </div>';
        {{else}}
                var HTMLblock = '<div class="list-group-item"> \
                                            \
                                            <a href="/preview?ID='+val.ID+'"  id="'+val.ID+'" target="_blank"><i class="glyphicon glyphicon-new-window"></i>'+val.Order+'. '+val.Title+'</a>\
                                        </div>';

        {{end}}
                $('#cat-'+sectionID).append( HTMLblock );
                //setGeneralListGroupItemListeners(objectiveID,objectiveName,'Objective: ');
            });
                
            //append Book button at end of level 2 list  *********************
        {{if eq .Permission 3}}
            var addObjectiveBlock = '\
                                <div class="list-group-item">\
                                    <div class="input-group">\
                                        <input id="objectiveInput-'+sectionID+'" type="text" class="form-control" placeholder="Add Objective."/>\
                                        <span class="input-group-btn">\
                                            <button id="objectiveBtn-'+sectionID+'" class="btn btn-success" type="button">New Objective</button>\
                                        </span>\
                                    </div>\
                                </div>\
                                <p class="text-center"> </p>\
                                ';
        {{else}}
            var addObjectiveBlock ='<p class="text-center"> </p>';
        {{end}}
            $('#cat-'+sectionID).append(addObjectiveBlock);
            
            //Adding a new catalog here
            $('#objectiveInput-'+sectionID).on('keyup',function(e){
                if(e.keyCode==13){
                    $('#objectiveBtn-'+sectionID).trigger('click');
                }
            });
            //Adding a new catalog here
            $('#objectiveBtn-'+sectionID).on('click',function(){
                var newObjectiveName =  $('#objectiveInput-'+sectionID).val();
                newObjectiveName = newObjectiveName.replace(/^\s+|\s+$/g, "").replace(/\s+/g, " "); // regex to replace space in middle
                $('#cat-'+sectionID).html('<a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>');
                $.post("/api/create/objective",{SectionID:sectionID,ObjectiveName:newObjectiveName,Order:0},function(data){
                    g = $.parseJSON(data);
                    console.log(g.result +":"+ g.reason);
                    //third place to wait
                    setTimeout(function (){
                        getBookObjectives(sectionID);
                    }, 1500);
                });
            });
        };  

    //Generalized methods for this madness*********************************************
    function generalListGroupItem(genID, genName, order){
            //note: href and collapse id have to have the same value to collapse
        {{if eq .Permission 3}}
            var htmlBlock = '\
                <div id="'+genID+'" name="'+genName+'">\
                    <a href="#cat-'+genID+'" class="list-group-item" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-right chevy"></span>'+order+'. '+genName +' \
                        <div class="btn-group btn-group-sm pull-right" role="group">\
                            <button id="edit-'+genID+'" class="btn btn-success" data-toggle="modal" data-target="#catEditModal" type="button"><span class="glyphicon glyphicon-pencil"></span></button>\
                            <button id="delete-'+genID+'" class="btn btn-danger " data-toggle="modal" data-target="#catDeleteModal" type="button"><span class="glyphicon glyphicon-remove"></span> </button>\
                        </div>\
                    </a>\
                    <div class="collapse items" id="cat-'+genID+'">\
                        <a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>\
                    </div>\
                </div>\
                ';
        {{else}}
            var htmlBlock = '\
                <div id="'+genID+'" name="'+genName+'">\
                    <a href="#cat-'+genID+'" class="list-group-item" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-right chevy"></span>'+order+'. '+genName +' \
                    </a>\
                    <div class="collapse books" id="cat-'+genID+'">\
                        <a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>\
                    </div>\
                </div>\
                ';
        {{end}}
            return htmlBlock;
    }
    function setGeneralListGroupItemListeners(genID, genName, genType){
        $('#'+genID).one('click','a',function(){
            //only sections chapter is clicked.
            if(genType[0]==='C'){ //chapter clicked
                if(!localStorage.getItem('sectionsFor'+genID)) {
                    getBookSections(genID);
                }else{
                   populateSections(genID);
                }
            }
            if(genType[0]==='S'){ //seciton clicked
                if(!localStorage.getItem('objectivesFor'+genID)) {
                    getBookObjectives(genID);
                }else{
                   populateObjectives(genID);
                }
            }
        });
        $('#edit-'+genID).on('click',function(e){
            e.stopPropagation();
            var tempID = $(this).closest('a').parent().attr('id');
            var tempName = $(this).closest('a').parent().attr('name');
            if(genType[0]==='C'){ //chapter clicked
                window.location = '/edit/Chapter/'+tempID;
            }
            if(genType[0]==='S'){ //chapter clicked
                window.location = '/edit/Section/'+tempID;
            }
        });
        $('#delete-'+genID).on('click',function(e){
            var tempID = $(this).closest('a').parent().attr('id');
            var tempName = $(this).closest('a').parent().attr('name');

            $('#bookDeleteModal').modal('show');
            //populate modal 
            $('#genDeleteType').html(genType);
            $('#genDeleteName').html(tempName);
            $('#genDeleteID').html(tempID);
        });
        $('#'+genID).on('click','a:first', function() {
                $(this).find('span:first').toggleClass('glyphicon-chevron-right')
                                        .toggleClass('glyphicon-chevron-down');
        });

    }



</script>



</body>
</html>