<!DOCTYPE html>
<html lang="en">
<head>


{{template "Head" "Book TOC"}}

<style type="text/css">
    #bookTitle{
        font-size: 1.5em;
    }
</style>
</head>

<body>
{{template "Nav" .}}

    <div class="container">

        <div id="bookHeader" class="well">
        {{if eq .Permission 3}}
            <div class="btn-group btn-group-sm pull-right" role="group">
                <button id="editBookBtn" class="btn btn-success" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
                <button id="deleteBookBtn" class="btn btn-danger " data-toggle="modal" data-target="#bookDeleteModal" type="button"><span class="glyphicon glyphicon-remove"></span> </button>
            </div>
        {{end}}
            <div id="bookTitle" class=""></div>
            <p>
                <span id="bookAuthor" class=""></span>
                <span id="bookVersion" class=""></span>        
            </p>
            <div id="bookDescription"></div>
        </div>

        <div id="bookChapters" class="list-group well">
            <div class="list-group-item-heading">
                <div class="text-center" id="chapterHeading">Chapters</div>
            </div>
            <div class="list-group-root"></div>
        </div>

    </div>

    {{template "Footer"}}

    <!-- Delete Book Modal *******************-->
      <div class="modal fade" id="bookDeleteModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Delete Item</h2>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">All dependent items will be deleted, including objectives. Are you sure you wish to delete this item?</h4>
                <br/>
                <p><span id="genDeleteType">Book: </span><span id="genDeleteName"></span></p>
                <p><span>ID: </span><span id="genDeleteID"></span></p> 
                <div class="input-group">
                    <label class="input-group-addon">Answer:</label>
                    <input type="text" class="form-control" id="verify" placeholder="To delete type yes."/>
                </div>          
            </div>
            <div class="modal-footer">
              <button id="genModalDeleteBtn" type="button" class="btn btn-danger" data-dismiss="modal">Delete Item</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    <!-- END Delete Cat Modal ******************-->

<script type="text/javascript">
    var incomingID = "{{.ID}}";
    var loadingHTML = '<div class="text-center"><br/><p><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></p><br></div>';
    
    $(document).ready(function(){
        if (incomingID == "") {return ;}
        localStorage.clear();
        localStorage.nextChapterNumber = 1;
        getBookInfo(incomingID);
        getBookChapters(incomingID);


        // buttons not available to unauthorized users
        $('#editBookBtn').on('click',function(){ 
            window.location = '/edit/Book/'+localStorage.bookID;
        });
        $('#deleteBookBtn').on('click',function(){ 
            $('#genDeleteName').html(localStorage.bookTitle);
            $('#genDeleteID').html(localStorage.bookID);
            $('#genDeleteType').html('Book: ');
            //gen listeners takes care of this case from here in modal.
        });
        $('#genModalDeleteBtn').on('click',function(){
            var choice = $('#genDeleteType').html();
            var tempID = $('#genDeleteID').html();
            var ans = $('#verify').val();
            if(ans==="yes"){
                switch(choice[0]){
                    case 'B':
                        $.post("/api/delete/book",{ID:tempID},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            //gotta wait a bit for the delete to propagate
                            $.wait(function(){window.location = '/catalogs/'},1);
                            
                        });
                    case 'C': //deleteing chapters
                        $.post("/api/delete/chapter",{ID:tempID},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            $('.list-group-root').html(loadingHTML);
                            //gotta wait for the datastore here
                            $.wait(function(){location.reload()},1);
                        });
                        break;
                    case 'S': //deleting sections
                        $.post("/api/delete/section",{ID:tempID},function(data){
                            g = $.parseJSON(data);
                            console.log(g.result +":"+ g.reason);
                            $('#cat-'+tempID).html(loadingHTML);
                            //gotta wait for the datastore here
                            $.wait(function(){location.reload()},1);
                        });
                        break;
                    default:
                }
                var ans = $('#verify').val('');

            }

        });

    });

    function getBookInfo(bookID){
        $.get("/api/book.xml?ID="+bookID,function(xml){
            localStorage.bookTitle = $(xml).find("title").text();
            localStorage.bookAuthor = $(xml).find("author").text();
            localStorage.bookDescription = $(xml).find("description").text();
            localStorage.bookVer = $(xml).find("version").text();
            localStorage.bookID = bookID;

            $('#bookTitle').html('<i class="fa fa-book"></i> '+localStorage.bookTitle);
            $('#bookAuthor').html('Author: '+localStorage.bookAuthor);
            $('#bookDescription').html(localStorage.bookDescription);
            $('#bookVersion').html(' Ver: '+localStorage.bookVer);
        });
    }
    function getBookChapters(bookID){
        $.get("/api/chapters.json?BookID="+bookID,function(data, status){
            localStorage.chapters = JSON.stringify( ($.parseJSON(data)).results );   
            populateChapters();
        });
    }
    function getBookSections(chapterID, chapNum){
        $.get("/api/sections.json?ChapterID="+chapterID,function(data, status){
            localStorage.setItem('sectionsFor'+chapterID, JSON.stringify( ($.parseJSON(data)).results ));  
            populateSections(chapterID,chapNum);
        });
    }
    function getBookObjectives(sectionID, sectNum){
        $.get("/api/objectives.json?SectionID="+sectionID,function(data, status){
            localStorage.setItem('objectivesFor'+sectionID, JSON.stringify( ($.parseJSON(data)).results ));  
            populateObjectives(sectionID,sectNum);
        });
    }

    function populateChapters(){
            //grab chapters from local storage rather than api call
            j = JSON.parse(localStorage.chapters);
            $('.list-group-root').html('');

            $.each( j, function( key, val ){
                //populate the root with the list group items
                var HTMLblock = generalListGroupItem(val.ID, val.Title, val.Order);
                $('.list-group-root').append( HTMLblock );
                setGeneralListGroupItemListeners(val.ID,val.Title,'Chapter: ');
                localStorage.nextChapterNumber = parseInt(val.Order)+1;
                //be one step ahead
                getBookSections(val.ID, val.Order);
            });

            //add Catalog button at end of level 1 list  *********************
        {{if eq .Permission 3}}
            var addChapterBlock = '\
                                <div class="list-group-item">\
                                    <div class="input-group">\
                                        <input id="chapterInput" type="text" class="form-control" placeholder="Add Chapter."/>\
                                        <span class="input-group-btn">\
                                            <button id="chapterBtn" class="btn btn-primary" type="button">New Chapter</button>\
                                        </span>\
                                    </div>\
                                </div>\
                                <p class="text-center"></p>\
                                ';
            
        {{else}}
            var addChapterBlock = '<p class="text-center"> </p>';
        {{end}}

            $('.list-group-root').append(addChapterBlock);
            
            //Adding a new catalog here
            $('#chapterInput').on('keyup',function(e){
                if(e.keyCode==13){$('#chapterBtn').trigger('click');}
            });
            //Adding a new catalog here
            $('#chapterBtn').on('click',function(){
                var newChap =  $('#chapterInput').val();
                newChap = newChap.replace(/^\s+|\s+$/g, "").replace(/\s+/g, " "); // regex to replace space in middle
                $.post("/api/create/chapter",{BookID:localStorage.bookID,ChapterName:newChap,Order:localStorage.nextChapterNumber},function(data){
                    g = $.parseJSON(data);
                    console.log(g.result +":"+ g.reason+":"+ g.object.Title);
                    $('.list-group-root').html(loadingHTML);
                    // first wait for datastore
                    $.wait(function(){getBookChapters(localStorage.bookID)},2);
                });
            });
    }
    function populateSections(chapterID, chapNum){
            var nextSectNum = 1;
            //grab sections from local storage rather than api call
            j = JSON.parse(localStorage.getItem('sectionsFor'+chapterID));
            $('#cat-'+chapterID).html('');

            $.each( j, function( key, val ){
                var n = chapNum +'.'+val.Order;
                //populate the root with the list group items
                var HTMLblock = generalListGroupItem(val.ID,val.Title,n);
                $('#cat-'+chapterID).append( HTMLblock );
                setGeneralListGroupItemListeners(val.ID,val.Title,'Section: ');
                nextSectNum = parseInt(val.Order)+1;
                //be one step ahead
                getBookObjectives(val.ID,n);
            });

            //add Catalog button at end of level 1 list  *********************
        {{if eq .Permission 3}}
            var addSectionBlock = '\
                                <div class="list-group-item">\
                                    <div class="input-group">\
                                        <input id="sectionInput-'+chapterID+'" type="text" class="form-control" placeholder="Add Section."/>\
                                        <span class="input-group-btn">\
                                            <button id="sectionBtn-'+chapterID+'" class="btn btn-warning" type="button">New Section</button>\
                                        </span>\
                                    </div>\
                                </div>\
                                <p class="text-center"> </p>\
                                ';
            
        {{else}}
            var addSectionBlock = '<p class="text-center"> </p>';
        {{end}}

            $('#cat-'+chapterID).append(addSectionBlock);
            
            //Adding a new section here
            $('#sectionInput-'+chapterID).on('keyup',function(e){
                if(e.keyCode==13){$('#sectionBtn-'+chapterID).trigger('click');}
            });
            $('#sectionBtn-'+chapterID).on('click',function(){
                var newSectionName =  $('#sectionInput-'+chapterID).val();
                newSectionName = newSectionName.replace(/^\s+|\s+$/g, "").replace(/\s+/g, " "); // regex to replace space in middle

                $('#cat-'+chapterID).html(loadingHTML);
                $.post("/api/create/section",{ChapterID:chapterID,SectionName:newSectionName,Order:nextSectNum},function(data){
                    g = $.parseJSON(data);
                    console.log(g.result +":"+ g.reason);
                    
                    //second place to wait for datastore
                    $.wait(function(){getBookSections(chapterID,chapNum)},2);
                });
            });
    } 
    function populateObjectives(sectionID,sectNum){
            var nextObjectiveNum = 1;
            j = JSON.parse(localStorage.getItem('objectivesFor'+sectionID));
            $('#cat-'+sectionID).html('');
            
            $.each( j, function( key, val ){
                var n = sectNum+'-'+val.Order;
                nextObjectiveNum = parseInt(val.Order)+1;
                //populate the root with the list group items
        {{if eq .Permission 3}}
        // href="/edit/Objective/'+val.ID+'" 
                var HTMLblock = '<a class="list-group-item" id="l1-'+val.ID+'">\
                                 <span class="btn btn-primary btn-sm pull-right edit">edit</span> \
                                 <i class="fa fa-file-text-o" aria-hidden="true"></i> '+n+' '+val.Title+'</a>';
        {{else}}
        //Maybe Send to READ at some point
                var HTMLblock = '<a href="/preview?ID='+val.ID+'" class="list-group-item" id="'+val.ID+'" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true"></i> '+n+' '+val.Title+'</a>';
        {{end}}
                $('#cat-'+sectionID).append( HTMLblock );
                $('#l1-'+val.ID).on('click','.edit',function(e){
                    e.stopPropagation();
                    var url = "/edit/Objective/"+val.ID;
                    window.open(url,'_blank');
                })
                $('#l1-'+val.ID).on('click',function(e){
                    var url = "/preview?ID="+val.ID;
                    window.open(url,'_blank');
                })
  
            });
                
            //append Book button at end of level 2 list  *********************
        {{if eq .Permission 3}}
            var addObjectiveBlock = '\
                                <div class="list-group-item">\
                                    <div class="input-group">\
                                        <input id="objectiveInput-'+sectionID+'" type="text" class="form-control" placeholder="Add Objective."/>\
                                        <span class="input-group-btn">\
                                            <button id="objectiveBtn-'+sectionID+'" class="btn btn-success" type="button">New Objective</button>\
                                        </span>\
                                    </div>\
                                </div>\
                                <p class="text-center"> </p>\
                                ';
        {{else}}
            var addObjectiveBlock ='<p class="text-center"> </p>';
        {{end}}
            $('#cat-'+sectionID).append(addObjectiveBlock);
            
            //Adding a new objective here
            $('#objectiveInput-'+sectionID).on('keyup',function(e){
                if(e.keyCode==13){$('#objectiveBtn-'+sectionID).trigger('click');}
            });

            $('#objectiveBtn-'+sectionID).on('click',function(){
                var newObjectiveName =  $('#objectiveInput-'+sectionID).val();
                newObjectiveName = newObjectiveName.replace(/^\s+|\s+$/g, "").replace(/\s+/g, " "); // regex to replace space in middle
                $('#cat-'+sectionID).html(loadingHTML);
                $.post("/api/create/objective",{SectionID:sectionID,ObjectiveName:newObjectiveName,Order:nextObjectiveNum},function(data){
                    g = $.parseJSON(data);
                    console.log(g.result +":"+ g.reason);
                    //third place to wait
                    $.wait(function(){getBookObjectives(sectionID,sectNum)},2);
                });
            });
        };  

    //Generalized methods for this madness*********************************************
    function generalListGroupItem(genID, genName, order){
            //note: href and collapse id have to have the same value to collapse
        {{if eq .Permission 3}}
            var htmlBlock = '\
                <div id="'+genID+'" name="'+genName+'">\
                    <a href="#cat-'+genID+'" class="list-group-item" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-right chevy"></span>'+order+' '+genName +' \
                        <div class="btn-group btn-group-sm pull-right" role="group">\
                            <button id="edit-'+genID+'" class="btn btn-success" data-toggle="modal" data-target="#catEditModal" type="button"><span class="glyphicon glyphicon-pencil"></span></button>\
                            <button id="delete-'+genID+'" class="btn btn-danger " data-toggle="modal" data-target="#catDeleteModal" type="button"><span class="glyphicon glyphicon-remove"></span> </button>\
                        </div>\
                    </a>\
                    <div class="collapse items" id="cat-'+genID+'">\
                        <a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>\
                    </div>\
                </div>\
                ';
        {{else}}
            var htmlBlock = '\
                <div id="'+genID+'" name="'+genName+'">\
                    <a href="#cat-'+genID+'" class="list-group-item" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-right chevy"></span>'+order+' '+genName +' \
                    </a>\
                    <div class="collapse books" id="cat-'+genID+'">\
                        <a href="#" class="list-group-item" ><i class="glyphicon glyphicon-download"></i>Loading...</a>\
                    </div>\
                </div>\
                ';
        {{end}}
            return htmlBlock;
    }
    function setGeneralListGroupItemListeners(genID, genName, genType){
        $('#edit-'+genID).on('click',function(e){
            e.stopPropagation();
            var tempID = $(this).closest('a').parent().attr('id');
            var tempName = $(this).closest('a').parent().attr('name');
            if(genType[0]==='C'){ //chapter clicked
                window.location = '/edit/Chapter/'+tempID;
            }
            if(genType[0]==='S'){ //chapter clicked
                window.location = '/edit/Section/'+tempID;
            }
        });
        $('#delete-'+genID).on('click',function(e){
            var tempID = $(this).closest('a').parent().attr('id');
            var tempName = $(this).closest('a').parent().attr('name');

            $('#bookDeleteModal').modal('show');
            //populate modal 
            $('#genDeleteType').html(genType);
            $('#genDeleteName').html(tempName);
            $('#genDeleteID').html(tempID);
        });

        $('#'+genID).on('click','a:first', function() {
                $(this).find('span:first').toggleClass('glyphicon-chevron-right')
                                        .toggleClass('glyphicon-chevron-down');
        });

    }
</script>



</body>
</html>